<script setup>
import {computed} from 'vue';
import MenuItem from "./MenuItem.vue";
import MenuLogo from "./MenuLogo.vue";
import { useRoute} from "vue-router";
import {collapseStore} from "@/store/collapse/index.ts";
import { menuStore} from "@/store/menu/index.ts";

//获取store
const colstore = collapseStore();
const store = menuStore();
//获取collapse
const isCollapse = computed(()=>{
  return colstore.getCollapse;
});
const route = useRoute();
//获取激活的菜单
const activeIndex = computed(()=>{
  const {path} = route;
  return path;
})

//菜单数据
const menuList = computed(()=>{
  return store.getMenu;
});
</script>

<template>
  <menu-logo :isCollapsed="isCollapse"/>
  <el-menu
      :default-active="activeIndex"
      :collapse="isCollapse"
      class="el-menu-vertical-demo"
      unique-opened
      background-color="#2d3a4b"
      router
  >
  <menu-item :menu-list="menuList"/>
  </el-menu>
</template>

<style scoped>
.el-menu-vertical-demo:not(.el-menu--collapse){
  width: 230px;
  min-height: 400px;
}

.el-menu{
  border-right: none;
}

:deep(.el-sub-menu .el-sub-menu__title){
  color: #f4f4f5 !important;
}

:deep(.el-menu .el-menu-item){
  color: #bfcbd9
}

/* 菜单选中文字的颜色 */
:deep(.el-menu-item.is-active){
  color:#409eff !important;
}

/* 当前打开菜单的所有子菜单颜色 */
:deep(.is-opened .el-menu-item){
  background-color: #1f2d3d !important;
}

/* 鼠标移动到菜单上的颜色 */
:deep(.el-menu-item:hover){
  background-color: #001528 !important;
}
</style>