<template>
  <div class="app-wrapper">
    <div class="sidebar-container" :class="{ collapse: isCollapse }">
      <div class="logo">
        <span class="logo-text">PMS</span>
        <h1 v-show="!isCollapse">后台管理系统</h1>
      </div>
      <el-scrollbar>
        <sidebar :is-collapse="isCollapse" />
      </el-scrollbar>
    </div>
    
    <div class="main-container">
      <navbar v-model:is-collapse="isCollapse" />
      <tags-view />
      <app-main />
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import Sidebar from './components/Sidebar/index.vue'
import Navbar from './components/Navbar/index.vue'
import TagsView from '@/components/TabsView/index.vue'
import AppMain from './components/AppMain.vue'

const isCollapse = ref(false)
</script>

<style lang="scss" scoped>
.app-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;

  .sidebar-container {
    width: 210px;
    height: 100%;
    background-color: var(--menu-bg-color);
    transition: width 0.3s;
    flex-shrink: 0;
    
    &.collapse {
      width: 64px;
      
      .logo {
        h1 {
          display: none;
        }
      }
    }

    .logo {
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 16px;
      overflow: hidden;
      background-color: var(--menu-bg-color);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      
      .logo-text {
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
      }
      
      h1 {
        margin: 0 0 0 12px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        white-space: nowrap;
      }
    }
  }

  .main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}
</style> 