<script setup lang="ts">
import useTable from "@/composables/activiti/listener/useTable";
import {  Plus, RefreshLeft, Search} from "@element-plus/icons-vue";
import useInstance from "@/hooks/useInstance";
import useListener from "@/composables/activiti/listener/useListener";
import AddListener from "@/views/activiti/listener/AddListener.vue";
//表格相关的操作
const {getList,listParam,searchBtn,resetBtn,tableList,sizeChange,currentChange,tableHeight,refresh} = useTable();
//新增、修改、删除操作
const {addBtn, editBtn, delBtn,addRef} = useListener(getList);
const { global } = useInstance();
getList();
</script>

<template>
  <el-main>
    <!-- 搜索栏 -->
    <el-form
      :model="listParam"
      :inline="true"
      size="default"
    >
      <el-form-item label="流程名称">
        <el-input v-model="listParam.listenerName" placeholder="监听器名称"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="searchBtn" :icon="Search">查询</el-button>
        <el-button type="danger" plain @click="resetBtn" :icon="RefreshLeft">重置</el-button>
        <el-button v-if="global.$hasPerm(['sys:listener:add'])" type="primary" @click="addBtn" :icon="Plus">新增</el-button>
      </el-form-item>
    </el-form>
    <!-- 表格 -->
    <el-table :height="tableHeight" :data="tableList.list" border stripe>
      <el-table-column type="index" label="序号" width="80" align="center"></el-table-column>
      <el-table-column label="监听器名称" align="center" prop="listenerName" width="200" />
      <el-table-column label="java类" align="center" prop="javaClass" show-overflow-tooltip />
      <el-table-column label="备注" align="center" prop="remark" show-overflow-tooltip />
      <el-table-column label="创建时间" align="center" prop="createTime" width="150" />
      <el-table-column v-if="global.$hasPerm(['sys:listener:update','sys:listener:delete'])" label="操作" width="320" align="center">
        <template #default="scope">
          <el-button link type="primary" icon="Edit" @click="editBtn(scope.row)">修改</el-button>
          <el-button link type="primary" icon="Delete" @click="delBtn(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination style="margin-top:5px;margin-right:5px;text-align:right;"
                   @size-change="sizeChange"
                   @current-change="currentChange"
                   :current-page.sync="listParam.pageNo"
                   :page-sizes="[10, 20, 50, 100]"
                   :page-size="listParam.pageSize"
                   layout="->,total, sizes, prev, pager, next, jumper"
                   :total="listParam.total"
                   background
    />
    <!-- 新增、编辑弹框 -->
    <add-listener ref="addRef" @refresh="refresh"></add-listener>
  </el-main>
</template>

<style scoped></style>
