<script lang="ts" setup>
import SysDialog from "@/components/dialog/SysDialog.vue";
import useDialog from "@/hooks/useDialog";
import {computed, defineExpose, nextTick, reactive, ref} from "vue";
import {AddUserModel} from "@/api/user/UserModel";
import {ElMessage, FormInstance} from "element-plus";
import {addApi,editApi} from "@/api/user";
import {EditType, Title} from "@/type/BaseEnums";
import useInstance from "@/hooks/useInstance";
import useSelectRole from "@/composables/user/useSelectRole";
import {AddRoleModel} from "@/api/role/RoleModel";
//角色数据
const {roleData,listRole,roleId,getRoleByUserId} = useSelectRole()
const { global } = useInstance()
//表单的ref属性
const addFormRef = ref<FormInstance>();
//弹框属性
const {dialog,onClose,onConfirm,onShow} = useDialog();
//计算属性，用于判断密码输入框是否禁用
const pwdDisabled = computed(() => addModel.type !== EditType.ADD);
//显示弹框
const show = async (type:string,row?:AddUserModel) => {
  //获取角色数据
  await listRole(),
  //设置弹框标题
  type == EditType.ADD
      ? (dialog.title = Title.ADD)
      : (dialog.title = Title.EDIT);
  //如果是编辑，需要设置编辑的数据到表单显示
  if(type == EditType.EDIT){
    //设置回显的数据
    //nextTick() 方法的作用是当页面上的元素被重新渲染之后，才会指定回调函数中的代码
    //这里需要回显数据，所以需要等页面上的元素被重新渲染之后，再进行回显
    nextTick(()=>{
      global.$objCopy(row,addModel);
    })
  }

  onShow();
  if (row) {
    //获取角色数据
    await getRoleByUserId(row.userId)
    nextTick(()=>{
      //备拷
      Object.assign(addModel, row);
      addModel.roleId = roleId.value;
    })
  }
  //设置编辑的属性：0-新增；1-编辑
  addModel.type = type;
  //表单清空
  addFormRef.value?.resetFields();
}

//暴露出去，给外部组件使用
defineExpose({
  show
});

//定义表单绑定的属性
const addModel = reactive<AddUserModel>({
  //主要用于区分是新增还是编辑，0-新增；1-编辑
  type:'',
  userId:'',
  username:'',
  password:'',
  phone:'',
  email:'',
  sex:'',
  status:'0',
  nickName:'',
})

//表单验证规则
const rules = reactive({
  username:[{required:true,message:'请输入姓名',trigger:'blur'}],
  phone:[{required:true,message:'请输入手机号码',trigger:'blur'}],
  password:[{required:true,message:'请输入密码',trigger:'blur'}],
  sex:[{required:true,message:'请选择性别',trigger:'change'}],
  status:[{required:true,message:'请选择状态',trigger:'change'}],
  roleId:[{required:true,message:'请选择角色',trigger:'change'}],
})
//注册事件
const emits = defineEmits(['refresh']);
//表单提交
const commit = () => {
  //表单验证
  addFormRef.value?.validate(async(valid)=>{
    if(valid){
      let res = null;
      //新增
      if(addModel.type == EditType.ADD){
        res = await addApi(addModel);
      } else {
        //编辑
        res = await editApi(addModel);
      }
      if(res && res.code == 200){
        //子组件调用父组件的方法
        emits('refresh');
        //信息提示
        ElMessage.success(res.message);
        onClose();
      }
    }
  });
};
</script>

<template>
  <SysDialog
      :title="dialog.title"
      :width="dialog.width"
      :height="dialog.height"
      :visible="dialog.visible"
      size="default"
      @onClose="onClose"
      @onConfirm="commit"
  >
    <template v-slot:content>
      <el-form
          :model="addModel"
          ref="addFormRef"
          :rules="rules"
          label-width="80px"
          size="default"
      >
        <el-row>
          <el-col :span="12" :offset="0">
            <el-form-item label="姓名" prop="userName">
              <el-input v-model="addModel.username" placeholder="请输入姓名"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12" :offset="0">
            <el-form-item label="性别" prop="sex">
              <el-radio-group v-model="addModel.sex">
                <el-radio label="0">男</el-radio>
                <el-radio label="1">女</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="12" :offset="0">
            <el-form-item label="电话" prop="phone">
              <el-input v-model="addModel.phone" placeholder="请输入电话"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12" :offset="0">
            <el-form-item label="邮箱" prop="email">
              <el-input v-model="addModel.email" placeholder="请输入邮箱"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" :offset="0">
            <el-form-item label="角色" prop="roleId">
              <el-select
                v-model="addModel.roleId"
                placeholder="请选择角色"
                style="width: 100%"
                size="default"
              >
                <el-option
                  v-for="item in roleData.list"
                  :key="item.roleId"
                  :label="item.roleName"
                  :value="item.roleId"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12" :offset="0">
            <el-form-item label="状态" prop="status">
              <el-radio-group v-model="addModel.status">
                <el-radio label="0">启用</el-radio>
                <el-radio label="1">停用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" :offset="0">
            <el-form-item label="昵称" prop="nickName">
              <el-input v-model="addModel.nickName" placeholder="请输入昵称"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12" :offset="0">
            <el-form-item label="密码" prop="password">
              <el-input v-model="addModel.password" placeholder="请输入密码" :disabled="pwdDisabled"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </template>
  </SysDialog>
</template>

<style scoped>

</style>