<script setup lang="ts">
import {Lock, SwitchButton, User} from "@element-plus/icons-vue";
import useDialog from "@/hooks/useDialog";
import SysDialog from "@/components/dialog/SysDialog.vue";
import { reactive,ref } from "vue";
import { FormInstance } from 'element-plus';
import { updatePwdApi } from "@/api/user";
import { useRouter } from "vue-router";
import {userStore} from "@/store/user";
import useInstance from "@/hooks/useInstance.ts";

const { global } = useInstance();
const store = userStore();
const router = useRouter();
//表单ref属性
const form = ref<FormInstance>();
//弹框属性
const{ dialog,onShow,onClose, onConfirm } = useDialog();
const updateBtn = () => {
  dialog.title = "修改密码";
  dialog.height = 180;
  onShow();
}

//表单对象
const updatePwdForm = reactive({
  userId: "",
  oldPassword: "",
  password: "",
  confirmPassword: "",
});

//表单校验规则
const rules = reactive({
  oldPassword: [
    { required: true, message: "请输入旧密码", trigger: ["blur","change"] },
    { min: 6, max: 20, message: "密码长度在 6 到 20 个字符", trigger: ["blur","change"]  },
  ],
  password: [
    { required: true, message: "请输入新密码", trigger: ["blur","change"] },
    { min: 6, max: 20, message: "密码长度在 6 到 20 个字符", trigger: ["blur","change"]  },
  ],
  confirmPassword: [
    { required: true, message: "请确认密码", trigger: ["blur","change"] },
    { min: 6, max: 20, message: "密码长度在 6 到 20 个字符", trigger: ["blur","change"]  },
  ],
})

//表单提交
const submitForm = async () => {
  updatePwdForm.userId = store.userId;
  form.value?.validate(async(valid)=>{
    if (valid) {
      //表单验证通过
      //判断新密码和确认密码是否一致
      if (updatePwdForm.password != updatePwdForm.confirmPassword) {
        ElMessage.error("新密码和确认密码不一致，请重新输入！");
        return;
      }
      //提交表单
      let res = await updatePwdApi(updatePwdForm)
      if (res && res.code === 200) {
        ElMessage.success(res.message);
        //清空缓存
        sessionStorage.clear();
        // 跳转到登录页面
        window.location.href = "/login";
      }
    } else {
      return false;
    }
  });
}

//退出登录
const logoutBtn = async () => {
  //信息确认
  const comfirm = await global.$confirm("确认退出登录?");
  if (comfirm) {
    //清空缓存
    sessionStorage.clear();
    // 跳转到登录页面
    window.location.href = "/login";
  }
}
</script>

<template>
  <el-dropdown>
        <span class="el-dropdown-link">
          <img class="avatar" src="@/assets/images/avatar.gif"></img>
        </span>
    <template #dropdown>
      <el-dropdown-menu>
        <el-dropdown-item :icon="User">个人信息</el-dropdown-item>
        <el-dropdown-item :icon="Lock" @click="updateBtn">修改密码</el-dropdown-item>
        <el-dropdown-item :icon="SwitchButton" @click="logoutBtn">安全退出</el-dropdown-item>
      </el-dropdown-menu>
    </template>
  </el-dropdown>

  <!-- 修改密码弹框 -->
  <sys-dialog
      :title="dialog.title"
      :width="dialog.width"
      :height="dialog.height"
      :visible="dialog.visible"
      @on-close="onClose"
      @on-confirm="submitForm">
    <template v-slot:content>
      <el-form ref="form" :rules="rules" :model="updatePwdForm" label-width="100px" :inline="false" size="default">
        <el-form-item prop="oldPassword" label="旧密码">
          <el-input v-model="updatePwdForm.oldPassword" type="password" placeholder="请输入旧密码"></el-input>
        </el-form-item>
        <el-form-item prop="password" label="新密码">
          <el-input v-model="updatePwdForm.password" type="password" placeholder="请输入新密码"></el-input>
        </el-form-item>
        <el-form-item prop="confirmPassword" label="确认密码">
          <el-input v-model="updatePwdForm.confirmPassword" type="password" placeholder="请确认密码"></el-input>
        </el-form-item>
      </el-form>
    </template>
  </sys-dialog>
</template>

<style lang="scss" scoped>
.el-dropdown-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  outline: none;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
</style>