<script lang="ts" setup>
import SysDialog from "@/components/dialog/SysDialog.vue";
import useDialog from "@/hooks/useDialog";
import {defineExpose, nextTick, reactive, ref} from "vue";
import {ElMessage, FormInstance} from "element-plus";
import {addApi,editApi} from "src/api/system/dept";
import {EditType, Title} from "@/type/BaseEnums";
import useInstance from "@/hooks/useInstance";
import {AddDeptModel} from "@/api/system/dept/DeptModel";
const { global } = useInstance()
//表单的ref属性
const addFormRef = ref<FormInstance>();
//弹框属性
const {dialog,onClose,onConfirm,onShow} = useDialog();
//显示弹框
const show = async (type:string,row?:AddDeptModel) => {
  //设置弹框标题
  type == EditType.ADD
      ? (dialog.title = Title.ADD)
      : (dialog.title = Title.EDIT);
  //如果是编辑，需要设置编辑的数据到表单显示
  if(type == EditType.EDIT){
    //设置回显的数据
    //nextTick() 方法的作用是当页面上的元素被重新渲染之后，才会指定回调函数中的代码
    //这里需要回显数据，所以需要等页面上的元素被重新渲染之后，再进行回显
    nextTick(()=>{
      global.$objCopy(row,addModel);
    })
  }

  onShow();
  //设置编辑的属性：0-新增；1-编辑
  addModel.type = type;
  //表单清空
  addFormRef.value?.resetFields();
}

//暴露出去，给外部组件使用
defineExpose({
  show
});

//定义表单绑定的属性
const addModel = reactive<AddDeptModel>({
  //主要用于区分是新增还是编辑，0-新增；1-编辑
  type:'',
  deptId:'',
  deptName:'',
  leader:'',
  phone:'',
  email:'',
  isSys:0,
})

//表单验证规则
const rules = reactive({
  deptName:[{required:true,message:'请输入部门名称',trigger:'blur'}],
  leader:[{required:true,message:'请输入负责人',trigger:'blur'}],
  phone:[{required:true,message:'请输入手机号',trigger:'blur'}],
  email:[{required:true,message:'请选择邮箱',trigger:'change'}],
})
//注册事件
const emits = defineEmits(['refresh']);
//表单提交
const commit = () => {
  //表单验证
  addFormRef.value?.validate(async(valid)=>{
    if(valid){
      let res = null;
      //新增
      if(addModel.type == EditType.ADD){
        console.log('新增:',addModel)
        res = await addApi(addModel);
      } else {
        //编辑
        res = await editApi(addModel);
      }
      if(res && res.code == 200){
        //子组件调用父组件的方法
        emits('refresh');
        //信息提示
        ElMessage.success(res.message);
        onClose();
      }
    }
  });
};
</script>

<template>
  <SysDialog
      :title="dialog.title"
      :width="dialog.width"
      :height="dialog.height"
      :visible="dialog.visible"
      size="default"
      @onClose="onClose"
      @onConfirm="commit"
  >
    <template v-slot:content>
      <el-form
          :model="addModel"
          ref="addFormRef"
          :rules="rules"
          label-width="80px"
          size="default"
      >
        <el-form-item label="部门名称" prop="deptName">
          <el-input v-model="addModel.deptName" placeholder="请输入部门名称" />
        </el-form-item>
        <el-form-item label="负责人" prop="leader">
          <el-input v-model="addModel.leader" placeholder="请输入负责人" />
        </el-form-item>
        <el-form-item label="手机号" prop="phone">
          <el-input v-model="addModel.phone" placeholder="请输入手机号" />
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
          <el-input v-model="addModel.email" placeholder="请输入邮箱" />
        </el-form-item>
      </el-form>
    </template>
  </SysDialog>
</template>

<style scoped>

</style>
