<script setup lang="ts">
import { ref, reactive, nextTick, toRef } from "vue";
import useDept from "@/composables/system/dept/useDept";
import {Plus, RefreshLeft, Search} from "@element-plus/icons-vue";
import useInstance from "@/hooks/useInstance";
import useTable from "@/composables/system/dept/useTable";
import AddDept from "@/views/system/dept/AddDept.vue";
//表格相关的操作
const {getList,listParam,searchBtn,resetBtn,tableList,sizeChange,currentChange,tableHeight,refresh} = useTable();
//新增、修改、删除操作
const {addBtn, editBtn, delBtn,addRef} = useDept(getList);
const { global } = useInstance();

// 表单实例
const formRef = ref();
// 是否打开弹出框
const open = ref(false);
// 弹出框标题
const title = ref("");
// 提交表单数据
let form = toRef(
  reactive({
    deptId: "",
    deptName: "",
    leader: "",
    phone: "",
    email: ""
  })
);


/**
 * 表单重置
 */
function reset() {
  form.value = {
    deptId: "",
    deptName: "",
    leader: "",
    phone: "",
    email: ""
  };

  nextTick(() => {
    formRef.value?.resetFields();
  });
}

/**
 * 新增按钮操作
 */
function handleAdd() {
  reset();
  open.value = true;
  title.value = "添加";
}

getList();
</script>

<template>
  <el-main>
    <!-- 搜索栏 -->
    <el-form
      :model="listParam"
      :inline="true"
      size="default"
    >
      <el-form-item label="部门名称">
        <el-input v-model="listParam.deptName" placeholder="请输入部门名称"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="searchBtn" :icon="Search">查询</el-button>
        <el-button type="danger" plain @click="resetBtn" :icon="RefreshLeft">重置</el-button>
        <el-button v-if="global.$hasPerm(['sys:user:add'])" type="primary" @click="addBtn" :icon="Plus">新增</el-button>
      </el-form-item>
    </el-form>
    <!-- 表格 -->
    <el-table :height="tableHeight" :data="tableList.list" border stripe>
      <el-table-column label="序号" type="index" width="100" />
      <el-table-column label="部门名称" align="center" prop="deptName" />
      <el-table-column label="负责人" align="center" prop="leader" />
      <el-table-column label="手机号" align="center" prop="phone" />
      <el-table-column label="邮箱" align="center" prop="email" />
      <el-table-column label="创建时间" align="center" prop="createTime" />
      <el-table-column>
        <template #default="scope">
          <el-button link type="primary" icon="Edit" @click="editBtn(scope.row)">修改</el-button>
          <el-button link type="primary" icon="Delete" @click="delBtn(scope.row.deptId)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination style="margin-top:5px;margin-right:5px;text-align:right;"
                   @size-change="sizeChange"
                   @current-change="currentChange"
                   :current-page.sync="listParam.pageNo"
                   :page-sizes="[10, 20, 50, 100]"
                   :page-size="listParam.pageSize"
                   layout="->,total, sizes, prev, pager, next, jumper"
                   :total="listParam.total"
                   background
    />
  </el-main>
  <add-dept ref="addRef" @refresh="refresh"></add-dept>
</template>

<style scoped></style>
