<script setup lang="ts">
import { useRouter ,useRoute } from 'vue-router';
import { tabStore ,Tab} from "@/store/tabs/tabs.ts";

const store = tabStore();
const route = useRoute();
const router = useRouter();

//关闭当前
const closeCurrent = () => {
  const targetName = route.path;
  // 首页不能关闭
  if (targetName === '/dashboard') {
    return;
  }
  //选项卡列表
  const tabs = store.getTabs;
  //当前激活的选项卡
  let activeName = route.path;
  if(activeName === targetName) {
    tabs.forEach((tab:Tab,index)=>{
      if(tab.path === targetName){
        const nextTab = tabs[index+1] || tabs[index-1];
        if (nextTab){
          activeName = nextTab.path;
        }
      }
    });
  }
  store.tabList = tabs.filter((tab) => tab.path !== targetName);
  //跳转路由
  router.push({path:activeName});
};

//关闭右侧
const closeRight = () => {
  const path = route.path;
  // 找到当前路由在选项卡列表中的索引
  let index = store.tabList.findIndex((tab) => tab.path === path);
  store.tabList.splice(index + 1);
};

//关闭左侧
const closeLeft = () => {
  const path = route.path;
  // 找到当前路由在选项卡列表中的索引
  let index = store.tabList.findIndex((tab) => tab.path === path);
  store.tabList.splice(1, index-1);
};

//关闭所有
const closeAll = () => {
  //第一种写法
  // store.tabList.splice(0,store.tabList.length);
  // router.push({path:'/dashboard'});
  //第二种写法
  store.tabList = [];
  //跳转到首页
  router.push({path:'/dashboard'});
};

</script>

<template>
  <div class="close-tabs">
    <el-dropdown>
      <span class="el-dropdown-link">
        <el-icon size="20" class="el-icon--right">
          <CloseBold/>
        </el-icon>
        关闭
      </span>
      <template #dropdown>
        <el-dropdown-menu>
          <el-dropdown-item @click="closeCurrent">关闭当前</el-dropdown-item>
          <el-dropdown-item @click="closeLeft">关闭左侧</el-dropdown-item>
          <el-dropdown-item @click="closeRight">关闭右侧</el-dropdown-item>
          <el-dropdown-item @click="closeAll">关闭所有</el-dropdown-item>
        </el-dropdown-menu>
      </template>
    </el-dropdown>
  </div>
</template>

<style scoped lang="scss">
.el-dropdown-link {
  cursor: pointer;
  /*color: var(--el-color-primary);*/
  display: flex;
  align-items: center;
}

.el-dropdown-link:focus {
  outline: none;
}

.close-tabs {
  width: 60px;
  height: 40px;
  position: fixed;
  top: 65px;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #e4e7ed;
  padding-right: 10px;
  margin-top: 6px;
  margin-right: 10px;
}
</style>