<template>
  <el-dropdown trigger="hover" @command="handleCommand">
    <div class="theme-picker">
      <el-icon><Brush /></el-icon>
      <span>主题设置</span>
    </div>
    <template #dropdown>
      <el-dropdown-menu>
        <el-dropdown-item 
          v-for="theme in themes" 
          :key="theme.name"
          :command="theme.name"
          :class="{ active: currentTheme === theme.name }"
        >
          <div class="theme-item">
            <div class="color-block" :style="{ backgroundColor: theme.primaryColor }"></div>
            <span>{{ theme.label }}</span>
          </div>
        </el-dropdown-item>
      </el-dropdown-menu>
    </template>
  </el-dropdown>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { Brush } from '@element-plus/icons-vue'
import { useThemeStore } from '@/stores/theme'

const themeStore = useThemeStore()
const currentTheme = computed(() => themeStore.currentTheme)

const themes = [
  { name: 'light', label: '默认主题', primaryColor: '#409eff' },
  { name: 'dark', label: '暗黑主题', primaryColor: '#ffffff' },
  { name: 'blue', label: '蓝色主题', primaryColor: '#2b85e4' },
  { name: 'green', label: '绿色主题', primaryColor: '#19be6b' },
  { name: 'peach', label: '桃花主题', primaryColor: '#ed9ec7' },
  { name: 'purple', label: '淡紫主题', primaryColor: '#722ed1' }
]

const handleCommand = (themeName: string) => {
  themeStore.setTheme(themeName)
}
</script>

<style lang="scss" scoped>
.theme-picker {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  padding: 0 8px;
  height: 32px;
  border-radius: 4px;
  color: var(--header-text-color);
  
  &:hover {
    background-color: var(--el-color-primary-light-9);
  }
}

.theme-item {
  display: flex;
  align-items: center;
  gap: 8px;
  
  .color-block {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--el-border-color-light);
  }
}

:deep(.el-dropdown-menu__item) {
  padding: 8px 16px;
  
  &.active {
    color: var(--el-color-primary);
    background-color: var(--el-color-primary-light-9);
  }
}

:deep(.el-dropdown-menu) {
  padding: 4px 0;
}
</style> 