<script setup>
//引入组件
import Header from "@/views/layout/header/Header.vue";
import MenuBar from "@/views/layout/menu/MenuBar.vue";
import TabsView from "@/views/layout/TabsView/index.vue";
</script>

<template>
  <div class="layout">
    <el-container>
      <el-aside width="auto" class="aside"><menu-bar/></el-aside>
      <el-container>
        <el-header class="header"><Header/></el-header>
        <el-main class="main">
          <div class="tabs">
            <tabs-view />
          </div>
          <!-- 路由出口 -->
          <!-- 路由匹配到的组件将渲染在这里 -->
          <!-- 注意：这里需要使用<router-view/>，而不是<router-link/> -->
          <router-view/>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<style lang="scss" scoped>
/* 手动配置全局样式 */
html,
body,
.layout,
.el-container{
  padding: 0;
  margin: 0;
  height: 100vh;
}

.aside{
  background-color: #2d3a4b;
  height: 100%;
}
.header{
  background-color: #409eff;
  display: flex;
  align-items: center;
}
.main{
  padding-top: 1px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  .el-tabs{
    width: 100%;
    height: 100%;
  }
  .tabs{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    .tabs-content{
      padding-top: 8px;
    }
  }
}
</style>
