<template>
  <div class="app-container">
    <!-- 搜索区域 -->
    <el-card class="search-wrapper">
      <el-form :model="queryParams" ref="queryForm" :inline="true">
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="queryParams.roleName" placeholder="请输入角色名称" clearable />
        </el-form-item>
        <el-form-item label="角色编码" prop="roleCode">
          <el-input v-model="queryParams.roleCode" placeholder="请输入角色编码" clearable />
        </el-form-item>
        <el-form-item label="状态" prop="status">
          <el-select v-model="queryParams.status" placeholder="请选择状态" clearable>
            <el-option label="启用" :value="1" />
            <el-option label="禁用" :value="0" />
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="handleQuery">查询</el-button>
          <el-button @click="resetQuery">重置</el-button>
        </el-form-item>
      </el-form>
    </el-card>

    <!-- 操作按钮区域 -->
    <el-card class="table-wrapper">
      <template #header>
        <el-button type="primary" @click="handleAdd">新增角色</el-button>
      </template>

      <!-- 表格区域 -->
      <el-table v-loading="loading" :data="list">
        <el-table-column type="index" label="序号" width="60" />
        <el-table-column prop="roleName" label="角色名称" />
        <el-table-column prop="roleCode" label="角色编码" />
        <el-table-column prop="description" label="描述" show-overflow-tooltip />
        <el-table-column prop="status" label="状态" width="100">
          <template #default="{ row }">
            <el-tag :type="row.status === 1 ? 'success' : 'danger'">
              {{ row.status === 1 ? '启用' : '禁用' }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="250" fixed="right">
          <template #default="{ row }">
            <el-button type="primary" link @click="handleEdit(row)">编辑</el-button>
            <el-button type="primary" link @click="handleAssignMenus(row)">分配菜单</el-button>
            <el-button type="danger" link @click="handleDelete(row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <!-- 分页区域 -->
      <div class="pagination-wrapper">
        <el-pagination
          v-model:current-page="queryParams.pageNum"
          v-model:page-size="queryParams.pageSize"
          :page-sizes="[10, 20, 50, 100]"
          :total="total"
          layout="total, sizes, prev, pager, next, jumper"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </el-card>

    <!-- 角色表单对话框 -->
    <el-dialog
      :title="dialog.title"
      v-model="dialog.visible"
      width="500px"
      @close="resetForm"
    >
      <el-form
        ref="formRef"
        :model="form"
        :rules="rules"
        label-width="100px"
      >
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="form.roleName" placeholder="请输入角色名称" />
        </el-form-item>
        <el-form-item label="角色编码" prop="roleCode">
          <el-input v-model="form.roleCode" placeholder="请输入角色编码" />
        </el-form-item>
        <el-form-item label="描述" prop="description">
          <el-input
            v-model="form.description"
            type="textarea"
            placeholder="请输入描述"
          />
        </el-form-item>
      </el-form>
      <template #footer>
        <el-button @click="dialog.visible = false">取 消</el-button>
        <el-button type="primary" @click="submitForm">确 定</el-button>
      </template>
    </el-dialog>

    <!-- 分配菜单对话框 -->
    <el-dialog
      title="分配菜单"
      v-model="menuDialog.visible"
      width="400px"
    >
      <el-tree
        ref="menuTreeRef"
        :data="menuOptions"
        show-checkbox
        node-key="id"
        :props="{ label: 'menuName' }"
      />
      <template #footer>
        <el-button @click="menuDialog.visible = false">取 消</el-button>
        <el-button type="primary" @click="submitMenuAssign">确 定</el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script setup>
import { ref, reactive } from 'vue'
import { ElMessage, ElMessageBox } from 'element-plus'
import { getRoleList, addRole, updateRole, deleteRole, getRoleMenus, assignRoleMenus } from '@/api/role'
import { getMenuTree } from '@/api/menu'

// 查询参数
const queryParams = reactive({
  pageNum: 1,
  pageSize: 10,
  roleName: '',
  roleCode: '',
  status: undefined
})

// 数据列表
const loading = ref(false)
const list = ref([])
const total = ref(0)

// 表单参数
const dialog = reactive({
  visible: false,
  title: ''
})
const formRef = ref()
const form = reactive({
  roleName: '',
  roleCode: '',
  description: ''
})
const rules = {
  roleName: [{ required: true, message: '请输入角色名称', trigger: 'blur' }],
  roleCode: [{ required: true, message: '请输入角色编码', trigger: 'blur' }]
}

// 菜单分配参数
const menuDialog = reactive({
  visible: false,
  roleId: undefined
})
const menuTreeRef = ref()
const menuOptions = ref([])

// 查询列表
const getList = async () => {
  loading.value = true
  try {
    const res = await getRoleList(queryParams)
    list.value = res.data.records
    total.value = res.data.total
  } finally {
    loading.value = false
  }
}

// 查询操作
const handleQuery = () => {
  queryParams.pageNum = 1
  getList()
}

// 重置查询
const resetQuery = () => {
  queryParams.roleName = ''
  queryParams.roleCode = ''
  queryParams.status = undefined
  handleQuery()
}

// 新增角色
const handleAdd = () => {
  dialog.title = '新增角色'
  dialog.visible = true
}

// 修改角色
const handleEdit = (row) => {
  dialog.title = '修改角色'
  dialog.visible = true
  Object.assign(form, row)
}

// 删除角色
const handleDelete = (row) => {
  ElMessageBox.confirm('确认要删除该角色吗？', '警告', {
    type: 'warning'
  }).then(async () => {
    await deleteRole(row.id)
    ElMessage.success('删除成功')
    getList()
  })
}

// 分配菜单
const handleAssignMenus = async (row) => {
  menuDialog.roleId = row.id
  menuDialog.visible = true
  // 获取菜单树
  const res = await getMenuTree()
  menuOptions.value = res.data
  // 获取角色已有菜单
  const menuRes = await getRoleMenus(row.id)
  menuTreeRef.value.setCheckedKeys(menuRes.data)
}

// 提交菜单分配
const submitMenuAssign = async () => {
  const menuIds = menuTreeRef.value.getCheckedKeys()
  await assignRoleMenus(menuDialog.roleId, menuIds)
  ElMessage.success('分配成功')
  menuDialog.visible = false
}

// 重置表单
const resetForm = () => {
  formRef.value?.resetFields()
  Object.assign(form, {
    roleName: '',
    roleCode: '',
    description: ''
  })
}

// 提交表单
const submitForm = async () => {
  await formRef.value.validate()
  if (dialog.title === '新增角色') {
    await addRole(form)
    ElMessage.success('新增成功')
  } else {
    await updateRole(form.id, form)
    ElMessage.success('修改成功')
  }
  dialog.visible = false
  getList()
}

// 分页大小改变
const handleSizeChange = (val) => {
  queryParams.pageSize = val
  getList()
}

// 页码改变
const handleCurrentChange = (val) => {
  queryParams.pageNum = val
  getList()
}

// 初始化
getList()
</script>

<style lang="scss" scoped>
.app-container {
  padding: 20px;
  
  .search-wrapper {
    margin-bottom: 20px;
  }
  
  .table-wrapper {
    .pagination-wrapper {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
</style> 