<template>
  <div class="navbar">
    <div class="left">
      <el-icon class="hamburger" @click="toggleSidebar">
        <Fold v-if="!isCollapse" />
        <Expand v-else />
      </el-icon>
      <breadcrumb />
    </div>
    
    <div class="right">
      <theme-picker />
      <el-divider direction="vertical" />
      <el-dropdown trigger="click" @command="handleCommand">
        <div class="avatar-container">
          <el-avatar :size="32" :src="userInfo?.avatar">
            {{ userInfo?.nickname?.charAt(0) }}
          </el-avatar>
          <span class="username">{{ userInfo?.nickname }}</span>
        </div>
        <template #dropdown>
          <el-dropdown-menu>
            <el-dropdown-item command="profile">个人信息</el-dropdown-item>
            <el-dropdown-item divided command="logout">退出登录</el-dropdown-item>
          </el-dropdown-menu>
        </template>
      </el-dropdown>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { useRouter } from 'vue-router'
import { useUserStore } from '@/stores/user'
import { Fold, Expand } from '@element-plus/icons-vue'
import ThemePicker from '@/components/ThemePicker/index.vue'
import Breadcrumb from '@/components/Breadcrumb/index.vue'

const router = useRouter()
const userStore = useUserStore()
const userInfo = computed(() => userStore.userInfo)

const props = defineProps({
  isCollapse: {
    type: Boolean,
    required: true
  }
})

const emit = defineEmits(['update:isCollapse'])

const toggleSidebar = () => {
  emit('update:isCollapse', !props.isCollapse)
}

const handleCommand = (command: string) => {
  if (command === 'logout') {
    userStore.logout()
    router.push('/login')
  } else if (command === 'profile') {
    router.push('/profile')
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--border-color);
  color: var(--header-text-color);

  .left {
    display: flex;
    align-items: center;
    
    .hamburger {
      font-size: 20px;
      cursor: pointer;
      margin-right: 15px;
      
      &:hover {
        color: var(--el-color-primary);
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 16px;

    .avatar-container {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      .username {
        color: var(--header-text-color);
      }
    }
  }
}
</style> 