<template>
  <el-dropdown trigger="click" @command="handleCommand">
    <div class="theme-switch">
      <el-icon><Setting /></el-icon>
    </div>
    <template #dropdown>
      <el-dropdown-menu>
        <el-dropdown-item command="light">
          <el-icon><Sunny /></el-icon>
          亮色主题
        </el-dropdown-item>
        <el-dropdown-item command="dark">
          <el-icon><Moon /></el-icon>
          暗色主题
        </el-dropdown-item>
        <el-dropdown-item divided>
          <span>主题色</span>
          <el-color-picker
            v-model="primaryColor"
            size="small"
            @change="handleColorChange"
          />
        </el-dropdown-item>
      </el-dropdown-menu>
    </template>
  </el-dropdown>
</template>

<script setup>
import { ref } from 'vue'
import { useThemeStore } from '@/stores/theme'
import { Setting, Sunny, Moon } from '@element-plus/icons-vue'

const themeStore = useThemeStore()
const primaryColor = ref(themeStore.primaryColor)

const handleCommand = (command) => {
  if (command === 'light' || command === 'dark') {
    themeStore.setTheme(command)
  }
}

const handleColorChange = (color) => {
  themeStore.setPrimaryColor(color)
}
</script>

<style lang="scss" scoped>
.theme-switch {
  padding: 0 12px;
  cursor: pointer;
  font-size: 18px;
  
  &:hover {
    color: var(--el-color-primary);
  }
}

:deep(.el-color-picker__trigger) {
  margin-left: 8px;
  border: none;
  padding: 0;
}
</style> 