@use 'theme';

// 全局样式重置
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Microsoft YaHei, Arial, sans-serif;
}

#app {
  height: 100%;
}

// 主题变量
:root {
  --menu-bg-color: #304156;
  --menu-text-color: #bfcbd9;
  --menu-active-text-color: #409eff;
  --menu-hover-bg-color: #263445;
  --menu-active-bg-color: #263445;
  
  --header-bg-color: #fff;
  --header-text-color: #303133;
  --header-border-color: #d8dce5;
  
  --main-bg-color: #f0f2f5;
  --border-color: #dcdfe6;
}

// 暗色主题
[data-theme='dark'] {
  --menu-bg-color: #1f1f1f;
  --menu-text-color: #bfbfbf;
  --menu-active-text-color: #409eff;
  --menu-hover-bg-color: #141414;
  --menu-active-bg-color: #141414;
  
  --header-bg-color: #1f1f1f;
  --header-text-color: #fff;
  --header-border-color: #303030;
  
  --main-bg-color: #141414;
  --border-color: #303030;
}

// 滚动条样式
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
} 