// 主题过渡
:root {
  // Element Plus 主题变量
  --el-color-primary: #409eff;
  
  // Element Plus 衍生色
  --el-color-primary-light-1: var(--el-color-primary);
  --el-color-primary-light-2: color-mix(in srgb, var(--el-color-primary) 80%, white);
  --el-color-primary-light-3: color-mix(in srgb, var(--el-color-primary) 60%, white);
  --el-color-primary-light-4: color-mix(in srgb, var(--el-color-primary) 40%, white);
  --el-color-primary-light-5: color-mix(in srgb, var(--el-color-primary) 20%, white);
  --el-color-primary-light-6: color-mix(in srgb, var(--el-color-primary) 10%, white);
  --el-color-primary-light-7: color-mix(in srgb, var(--el-color-primary) 5%, white);
  --el-color-primary-light-8: color-mix(in srgb, var(--el-color-primary) 2%, white);
  --el-color-primary-light-9: color-mix(in srgb, var(--el-color-primary) 1%, white);
  --el-color-primary-dark-1: color-mix(in srgb, var(--el-color-primary) 80%, black);
  --el-color-primary-dark-2: color-mix(in srgb, var(--el-color-primary) 60%, black);
  
  // 自定义主题变量
  --menu-bg-color: #304156;
  --menu-text-color: #bfcbd9;
  --menu-active-text-color: #409eff;
  --menu-hover-bg-color: #263445;
  --menu-active-bg-color: #263445;
  --header-bg-color: #ffffff;
  --header-text-color: #303133;
  --header-border-color: #d8dce5;
  --main-bg-color: #f0f2f5;
  --border-color: #dcdfe6;

  // 添加过渡效果
  * {
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  }
}

// 暗黑模式适配
.dark {
  // Element Plus 暗黑模式变量
  --el-bg-color: #141414;
  --el-bg-color-overlay: #1d1e1f;
  --el-text-color-primary: #ffffff;
  --el-text-color-regular: #d0d0d0;
  --el-border-color: #303030;
  --el-border-color-light: #404040;
  --el-fill-color-blank: #1f1f1f;
  
  // 组件适配
  .el-card {
    --el-card-bg-color: #1f1f1f;
  }
  
  .el-table {
    --el-table-bg-color: #1f1f1f;
    --el-table-tr-bg-color: #1f1f1f;
    --el-table-header-bg-color: #141414;
    --el-table-border-color: #303030;
    --el-table-text-color: #d0d0d0;
    --el-table-header-text-color: #d0d0d0;
  }
  
  .el-dropdown-menu {
    --el-bg-color-overlay: #1f1f1f;
  }
} 