// 主题色
$primary-color: #409eff;
$success-color: #67c23a;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$info-color: #909399;

// 文字颜色
$text-primary: #303133;
$text-regular: #606266;
$text-secondary: #909399;
$text-placeholder: #c0c4cc;

// 边框颜色
$border-color: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;

// 背景颜色
$bg-color: #f5f7fa;

// 布局相关
$header-height: 60px;
$sidebar-width: 200px;
$sidebar-collapse-width: 64px; 