<script setup lang="ts">
import { onBeforeMount } from 'vue'
import { useRoute, useRouter } from 'vue-router'

const route = useRoute()
const router = useRouter()

onBeforeMount(() => {
  const { params } = route
  const { path } = params
  const redirectPath = '/' + (Array.isArray(path) ? path.join('/') : path)
  router.replace(redirectPath).catch(() => {
    router.push('/')
  })
})
</script>

<template>
  <div />
</template> 