<template>
  <div class="app-container">
    <!-- 搜索区域 -->
    <el-card class="search-wrapper">
      <el-form :model="queryParams" ref="queryForm" :inline="true">
        <el-form-item label="用户名" prop="username">
          <el-input v-model="queryParams.username" placeholder="请输入用户名" clearable />
        </el-form-item>
        <el-form-item label="昵称" prop="nickname">
          <el-input v-model="queryParams.nickname" placeholder="请输入昵称" clearable />
        </el-form-item>
        <el-form-item label="手机号" prop="phone">
          <el-input v-model="queryParams.phone" placeholder="请输入手机号" clearable />
        </el-form-item>
        <el-form-item label="状态" prop="status">
          <el-select v-model="queryParams.status" placeholder="请选择状态" clearable>
            <el-option label="启用" :value="1" />
            <el-option label="禁用" :value="0" />
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="handleQuery">查询</el-button>
          <el-button @click="resetQuery">重置</el-button>
        </el-form-item>
      </el-form>
    </el-card>

    <!-- 操作按钮区域 -->
    <el-card class="table-wrapper">
      <template #header>
        <el-button type="primary" @click="handleAdd">新增用户</el-button>
      </template>

      <!-- 表格区域 -->
      <el-table v-loading="loading" :data="userList">
        <el-table-column type="index" label="序号" width="80" />
        <el-table-column prop="username" label="用户名" />
        <el-table-column prop="nickname" label="昵称" />
        <el-table-column prop="phone" label="手机号" />
        <el-table-column prop="email" label="邮箱" />
        <el-table-column label="状态" width="80">
          <template #default="{ row }">
            <el-switch
              v-model="row.status"
              :active-value="1"
              :inactive-value="0"
              :loading="row.statusLoading"
              inline-prompt
              :active-text="'启用'"
              :inactive-text="'禁用'"
              style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949"
              @change="handleStatusChange(row)"
            />
          </template>
        </el-table-column>
        <el-table-column prop="createTime" label="创建时间" width="180" />
        <el-table-column label="操作" width="180" fixed="right">
          <template #default="{ row }">
            <el-button link type="primary" @click="handleEdit(row)">编辑</el-button>
            <el-button link type="primary" @click="handleDelete(row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <!-- 分页区域 -->
      <div class="pagination-wrapper">
        <el-pagination
          v-model:current-page="queryParams.pageNum"
          v-model:page-size="queryParams.pageSize"
          :total="total"
          :page-sizes="[10, 20, 30, 50]"
          :background="true"
          layout="total, sizes, prev, pager, next, jumper"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </el-card>

    <!-- 用户表单对话框 -->
    <el-dialog
      :title="dialogTitle"
      v-model="dialogVisible"
      width="500px"
      append-to-body
      destroy-on-close
    >
      <el-form
        ref="dialogForm"
        :model="form"
        :rules="rules"
        label-width="80px"
      >
        <el-form-item label="用户名" prop="username">
          <el-input v-model="form.username" placeholder="请输入用户名" />
        </el-form-item>
        <el-form-item label="密码" prop="password" v-if="!form.id">
          <el-input v-model="form.password" type="password" placeholder="请输入密码" />
        </el-form-item>
        <el-form-item label="昵称" prop="nickname">
          <el-input v-model="form.nickname" placeholder="请输入昵称" />
        </el-form-item>
        <el-form-item label="手机号" prop="phone">
          <el-input v-model="form.phone" placeholder="请输入手机号" />
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
          <el-input v-model="form.email" placeholder="请输入邮箱" />
        </el-form-item>
        <el-form-item label="性别" prop="gender">
          <el-radio-group v-model="form.gender">
            <el-radio :label="1">男</el-radio>
            <el-radio :label="2">女</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="角色" prop="roleIds">
          <el-select
            v-model="form.roleIds"
            multiple
            placeholder="请选择角色"
            style="width: 100%"
          >
            <el-option
              v-for="role in roleOptions"
              :key="role.id"
              :label="role.roleName"
              :value="role.id"
            />
          </el-select>
        </el-form-item>
      </el-form>
      <template #footer>
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleSubmit">确 认</el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
import { ref, reactive, onMounted } from 'vue'
import { ElMessage, ElMessageBox } from 'element-plus'
import {getUserList, addUser, updateUser, deleteUser, updateUserStatus, getUserRoles} from '@/api/user'
import { getRoleList } from '@/api/role'
import { useUserStore } from '@/stores/user'
import type { User } from '@/api/user'

const userStore = useUserStore()

// 检查权限
const hasPermission = (permission: string) => {
  if (!userStore.permissions?.length) {
    return false
  }
  return userStore.permissions.includes(permission)
}

// 查询参数
const queryParams = reactive({
  pageNum: 1,
  pageSize: 10,
  username: '',
  nickname: '',
  phone: '',
  status: undefined
})

// 数据列表
const userList = ref([])
const total = ref(0)
const loading = ref(false)
const roleOptions = ref([])

// 表单相关
const dialogVisible = ref(false)
const dialogTitle = ref('')
const form = reactive({
  id: undefined,
  username: '',
  password: '',
  nickname: '',
  phone: '',
  email: '',
  gender: 1,
  roleIds: []
})

// 表单校验规则
const rules = {
  username: [
    { required: true, message: '请输入用户名', trigger: 'blur' }
  ],
  password: [
    { required: true, message: '请输入密码', trigger: 'blur' }
  ],
  nickname: [
    { required: true, message: '请输入昵称', trigger: 'blur' }
  ]
}

// 查询列表
const getList = async () => {
  loading.value = true
  try {
    const res = await getUserList(queryParams)
    console.log('分页数据:', {
      total: res.data.total,
      pages: res.data.pages,
      current: res.data.current,
      size: res.data.size,
      records: res.data.records?.length
    })
    userList.value = res.data.records.map(user => ({
      ...user,
      status: user.status === null || user.status === undefined ? 0 : Number(user.status),
      statusLoading: false
    }))
    total.value = res.data.total
  } catch (error) {
    console.error('获取用户列表失败:', error)
    ElMessage.error('获取用户列表失败')
  } finally {
    loading.value = false
  }
}

// 查询角色列表
const getRoles = async () => {
  const res = await getRoleList()
  roleOptions.value = res.data.records;
  console.log('角色列表111111:', roleOptions.value)
}

// 查询按钮操作
const handleQuery = () => {
  queryParams.pageNum = 1
  getList()
}

// 重置按钮操作
const resetQuery = () => {
  queryParams.username = ''
  queryParams.nickname = ''
  queryParams.phone = ''
  queryParams.status = undefined
  handleQuery()
}

// 新增按钮操作
const handleAdd = () => {
  Object.assign(form, {
    id: undefined,
    username: '',
    password: '',
    nickname: '',
    phone: '',
    email: '',
    gender: 1,
    roleIds: []
  })
  dialogTitle.value = '新增用户'
  dialogVisible.value = true
}

// 编辑按钮操作
const handleEdit = async (row) => {
  Object.assign(form, row)
  // 获取用户角色列表
  try {
    const res = await getUserRoles(row.id)
    form.roleIds = res.data
  } catch (error) {
    console.error('获取用户角色失败:', error)
  }
  dialogTitle.value = '编辑用户'
  dialogVisible.value = true
}

// 提交表单
const handleSubmit = async () => {
  try {
    if (form.id) {
      await updateUser(form.id, form)
    } else {
      await addUser(form)
    }
    ElMessage.success('操作成功')
    dialogVisible.value = false
    getList()
  } catch (error) {
    console.error('操作失败:', error)
  }
}

// 删除按钮操作
const handleDelete = (row) => {
  ElMessageBox.confirm('确认要删除该用户吗？', '提示', {
    type: 'warning'
  }).then(async () => {
    await deleteUser(row.id)
    ElMessage.success('删除成功')
    getList()
  })
}

// 状态修改
const handleStatusChange = async (row: User) => {
  // 确保权限数据已加载
  if (!userStore.permissions) {
    await userStore.getUserInfo()
  }
  
  // 先检查权限
  if (!hasPermission('system:user:status')) {
    ElMessage.warning('您没有修改用户状态的权限')
    row.status = row.status === 1 ? 0 : 1  // 恢复原状态
    return
  }
  
  const oldStatus = row.status
  row.statusLoading = true
  try {
    await updateUserStatus(row.id, row.status)
    ElMessage.success('修改成功')
  } catch (error) {
    // 如果是权限错误，显示对应提示
    if (error.response?.status === 403) {
      ElMessage.warning('您没有修改用户状态的权限')
    } else {
      ElMessage.error('修改失败')
    }
    row.status = oldStatus  // 恢复原状态
  } finally {
    row.statusLoading = false
  }
}

// 分页大小改变
const handleSizeChange = (val) => {
  queryParams.pageSize = val
  getList()
}

// 页码改变
const handleCurrentChange = (val) => {
  queryParams.pageNum = val
  getList()
}

onMounted(() => {
  getList()
  getRoles()
})
</script>

<style lang="scss" scoped>
.app-container {
  padding: 20px;
  
  .search-wrapper {
    margin-bottom: 20px;
  }
  
  .table-wrapper {
    .pagination-wrapper {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
</style> 