<template>
  <el-config-provider :locale="zhCn">
    <router-view />
  </el-config-provider>
</template>

<script setup lang="ts">
import { onMounted } from 'vue'
import { useThemeStore } from '@/stores/theme'
import { useMenuStore } from '@/stores/menu'
import zhCn from 'element-plus/dist/locale/zh-cn.mjs'

const themeStore = useThemeStore()
const menuStore = useMenuStore()

onMounted(() => {
  themeStore.initTheme()
  menuStore.loadMenuTree()
})
</script>

<style>
:root {
  --border-color: #dcdfe6;
  --text-color: #303133;
  --text-color-secondary: #909399;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
}

/* 全局滚动条样式 */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
</style> 