<script setup lang="ts">
import { ref } from 'vue'
import login from '@/components/login/loginForm.vue'
import register from '@/components/login/registerForm.vue'

const onClick = () => {
  vari.value=!vari.value
}

let vari=ref<boolean>(false)
</script>

<template>
  <div :class="{container:true, 'sign-up-model': vari}">
    <div class="inner-left-container">
      <div class="login-content">
        <h2 style="color: white">工作流管理系统</h2>
        <el-button type="primary"  @click="onClick" size="large">去注册</el-button>
      </div>
      <img src="@/assets/login-bg.svg" class="image" alt="">
    </div>
    <div class="inner-right-container">
      <div class = "register-content">
        <h2 style="color: white">工作流管理系统</h2>
        <el-button type="primary"  @click="onClick" size="large">去登录</el-button>
      </div>
      <img src="@/assets/register-bg.svg" class="image" alt="">
    </div>
    <div class ="inner-sign-up-container">
      <login :class="{'sign-up-model': vari}" @register-success="onClick"></login>
      <register :class="{'sign-up-model': vari}" @register-success="onClick"></register>
    </div>
  </div>
</template>

<style scoped>
.container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
}
.container::before {
  content: "";
  width: 2000px;
  height: 2000px;
  background-color: rgba(160, 209, 35);
  position: absolute;
  border-radius: 50%;
  transform: translateY(-50%) translateX(0);
  right: 48%;
  top:-10%;
  z-index: 2;
  transition: 1.8s ease-in-out;
}

.inner-left-container {
  width: 0;
  flex: 1;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  /* 上边|右边|下边|左边 */
  padding: 3rem 10% 2rem 10%;
}

.inner-right-container {
  width: 0;
  flex: 1;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  /* 上边|右边|下边|左边 */
  padding: 3rem 10% 2rem 10%;
}

.container .inner-right-container .register-content,
.container .inner-right-container .image {
  transform: translateX(1000px);
  transition: 1s ease-in-out;
  transition-delay: 0.5s;
}

.container .inner-left-container .login-content,
.container .inner-left-container .image {
  transform: translateX(0px);
  transition: 1s ease-in-out;
  transition-delay: 0.5s;
}

.image {
  width: 100%;
}

.inner-sign-up-container {
  width: 50%;
  height: 50%;
  position: absolute;
  right: 0;
  top:20%;
  transition: 1s ease-in-out;
  transition-delay: 0.5s;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 2;
}

/** 动画 **/
.container.sign-up-model::before {
  transform: translate(100%,-50%);
  transition: 1.8s ease-in-out;
  right: 52%;
}

.container.sign-up-model .inner-right-container .register-content,
.container.sign-up-model .inner-right-container .image {
  transform: translateX(0px);
  transition: 1s ease-in-out;
  transition-delay: 0.5s;
}

.container.sign-up-model .inner-left-container .login-content,
.container.sign-up-model .inner-left-container .image {
  transform: translateX(-1000px);
  transition: 1s ease-in-out;
  transition-delay: 0.5s;
}

.container.sign-up-model .inner-sign-up-container {
  width: 50%;
  height: 50%;
  top: 20%;
  right: 50%;
  transition: 1s ease-in-out;
  transition-delay: 0.5s;
}

.container.sign-up-model .inner-right-container {
  pointer-events: all;
}

.container.sign-up-model .inner-left-container {
  pointer-events: none;
}

@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
  }
  .container::before {
    width: 1500px;
    height: 1500px;
    position: absolute;
    left: inherit;
    top:inherit;
    right: inherit;
    bottom: inherit;
    transform: translate(-30%, -80%);
  }
  .inner-left-container {
    height: 0;
    flex: 1;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
  }
  .inner-right-container {
    height: 0;
    flex: 1;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
  }
  .image {
    width: 40%;
  }

  .container .inner-right-container .register-content,
  .container .inner-right-container .image {
     transform: translateY(1000px);
     transition: 1s ease-in-out;
   }

  .container .inner-sign-up-container {
    width: 70%;
    height: 50%;
    left: 15%;
    right: 15%;
    top: 40%;
  }

  /** 动画 **/
  .container.sign-up-model .inner-left-container .login-content,
  .container.sign-up-model .inner-left-container .image {
     transform: translateY(-1000px);
     transition: 1s ease-in-out;
   }
  .container.sign-up-model::before {
    width: 1500px;
    height: 1500px;
    position: absolute;
    bottom: inherit;
    left: inherit;
    right: inherit;
    top: inherit;
    transform: translate(-30%, 45%);
  }

  .container.sign-up-model .inner-sign-up-container {
    width: 70%;
    height: 50%;
    left: 15%;
    right: 15%;
    top: 15%;
  }
}

@media screen and (max-width: 570px) {
  .container {
    background-color: rgb(160, 209, 35);
  }
  .container .inner-sign-up-container {
    background-color: white;
    border-radius: 8px;
  }

  .container::before {
    display: none;
  }
}
</style>
