<template>
  <div class="tabs-view">
    <el-scrollbar class="scroll-container">
      <el-tabs
        v-model="activeTab"
        type="card"
        @tab-click="handleClick"
        @tab-remove="handleClose"
      >
        <el-tab-pane
          v-for="tab in visitedViews"
          :key="tab.path"
          :label="tab.title"
          :name="tab.path"
          :closable="!isAffixTab(tab)"
        >
          <template #label>
            <span @contextmenu.prevent="(e) => openContextMenu(e, tab)">
              {{ tab.title }}
            </span>
          </template>
        </el-tab-pane>
      </el-tabs>
    </el-scrollbar>

    <!-- 右键菜单 -->
    <div
      v-show="contextMenuVisible"
      class="contextmenu"
      :style="{ left: contextMenuX + 'px', top: contextMenuY + 'px' }"
    >
      <div class="menu-item" @click="refreshSelectedTag">
        <el-icon><Refresh /></el-icon>
        <span>刷新页面</span>
      </div>
      <div v-if="!isAffixTab(selectedTag)" class="menu-item" @click="closeSelectedTag">
        <el-icon><Close /></el-icon>
        <span>关闭当前</span>
      </div>
      <div class="menu-item" @click="closeOthersTags">
        <el-icon><CircleClose /></el-icon>
        <span>关闭其他</span>
      </div>
      <div class="menu-item" @click="closeAllTags">
        <el-icon><RemoveFilled /></el-icon>
        <span>关闭所有</span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, watch, onMounted, onBeforeUnmount } from 'vue'
import { useRoute, useRouter, RouteLocationNormalized } from 'vue-router'
import { useTagsViewStore } from '@/store/tabs/tagsView'
import { Refresh, Close, CircleClose, RemoveFilled } from '@element-plus/icons-vue'

interface TagView {
  path: string
  name?: string | symbol | null | undefined
  meta?: {
    title?: string
    affix?: boolean
    noCache?: boolean
  }
  title?: string
  fullPath?: string
}

const route = useRoute()
const router = useRouter()
const tagsViewStore = useTagsViewStore()

// 访问过的视图
const visitedViews = computed(() => tagsViewStore.visitedViews)
const activeTab = computed(() => route.path)

// 右键菜单相关
const contextMenuVisible = ref(false)
const contextMenuX = ref(0)
const contextMenuY = ref(0)
const selectedTag = ref<TagView>()

// 判断是否为固定标签
const isAffixTab = (tab?: TagView) => {
  if (!tab) return false
  // 首页标签固定
  if (tab.path === '/dashboard') return true
  // 其他通过 meta.affix 判断
  return tab.meta?.affix ?? false
}

// 添加标签
const addTags = () => {
  if (route.name) {
    tagsViewStore.addView(route)
  }
  return false
}

// 初始化固定标签
const initTags = () => {
  // 确保首页标签总是存在
  const dashboardRoute = router.getRoutes().find(route => route.path === '/dashboard')
  if (dashboardRoute) {
    const dashboardTag = {
      path: dashboardRoute.path,
      name: dashboardRoute.name,
      meta: dashboardRoute.meta,
      title: dashboardRoute.meta?.title,
      fullPath: dashboardRoute.path
    }
    tagsViewStore.addView(dashboardTag as RouteLocationNormalized)
  }

  const affixTags = router.getRoutes()
    .filter(route => route.meta?.affix)
    .map(route => ({
      path: route.path,
      name: route.name,
      meta: route.meta,
      title: route.meta?.title,
      fullPath: route.path
    }))

  affixTags.forEach(tag => {
    tagsViewStore.addView(tag as RouteLocationNormalized)
  })
}

// 处理标签点击
const handleClick = (tab: any) => {
  const path = tab.paneName
  if (path !== route.path) {
    router.push(path)
  }
}

// 处理标签关闭
const handleClose = (path: string) => {
  // 如果是固定标签，不允许关闭
  const tag = visitedViews.value.find(v => v.path === path)
  console.log(route.path,isAffixTab(tag));
  if (isAffixTab(tag)) return

  if (path === route.path) {
    closeSelectedTag()
  } else {
    tagsViewStore.delView(path)
  }
}

// 显示右键菜单
const openContextMenu = (e: MouseEvent, tag: TagView) => {
  e.preventDefault()
  selectedTag.value = tag
  contextMenuX.value = e.clientX
  contextMenuY.value = e.clientY
  contextMenuVisible.value = true
}

// 关闭右键菜单
const closeContextMenu = () => {
  contextMenuVisible.value = false
}

// 刷新当前页面
const refreshSelectedTag = () => {
  const tag = selectedTag.value || route
  router.push(tag.path);
};

// 关闭当前标签
const closeSelectedTag = () => {
  const tag = selectedTag.value || route
  // 如果是固定标签，不允许关闭
  if (isAffixTab(tag)) return

  tagsViewStore.delView(tag.path).then(() => {
    if (tag.path === route.path) {
      toLastView(visitedViews.value)
    }
  })
  closeContextMenu()
}

// 关闭其他标签
const closeOthersTags = () => {
  const tag = selectedTag.value || route
  router.push(tag.path)
  // 保留固定标签和当前标签
  const keepTags = visitedViews.value.filter(tab => isAffixTab(tab) || tab.path === tag.path)
  tagsViewStore.delAllViews()
  keepTags.forEach(tab => {
    tagsViewStore.addView(tab as RouteLocationNormalized)
  })
  closeContextMenu()
}

// 关闭所有标签
const closeAllTags = () => {
  // 保留首页和固定标签
  const keepTags = visitedViews.value.filter(tab =>
    tab.path === '/dashboard' || isAffixTab(tab)
  )
  tagsViewStore.delAllViews()
  keepTags.forEach(tab => {
    tagsViewStore.addView(tab as RouteLocationNormalized)
  })

  if (keepTags.length) {
    // 优先跳转到首页
    const dashboard = keepTags.find(tag => tag.path === '/dashboard')
    router.push(dashboard ? dashboard.path : keepTags[0].path)
  } else {
    router.push('/')
  }
  closeContextMenu()
}

// 跳转到最后一个标签
const toLastView = (visitedViews: TagView[]) => {
  const latestView = visitedViews.slice(-1)[0]
  if (latestView) {
    router.push(latestView.path)
  } else {
    router.push('/')
  }
}

// 监听路由变化
watch(
  () => route.path,
  () => {
    if (route.meta?.hidden) return
    // 如果是首页，强制添加
    if (route.path === '/dashboard') {
      tagsViewStore.addView(route)
      return
    }
    tagsViewStore.addView(route)
  },
  { immediate: true }
)

// 监听全局点击事件，关闭右键菜单
const handleClickOutside = (e: MouseEvent) => {
  const contextmenu = document.querySelector('.contextmenu')
  if (contextmenu && !contextmenu.contains(e.target as Node)) {
    closeContextMenu()
  }
}

onMounted(() => {
  // 从本地存储恢复标签
  tagsViewStore.restoreVisitedViews()

  initTags()
  // 确保首页标签存在且在第一位
  const dashboard = visitedViews.value.find(tag => tag.path === '/dashboard')
  if (!dashboard) {
    const dashboardRoute = router.getRoutes().find(route => route.path === '/dashboard')
    if (dashboardRoute) {
      tagsViewStore.addView({
        path: dashboardRoute.path,
        name: dashboardRoute.name,
        meta: dashboardRoute.meta,
        title: dashboardRoute.meta?.title,
        fullPath: dashboardRoute.path
      } as RouteLocationNormalized)
    }
  } else {
    // 确保首页在第一位
    const index = visitedViews.value.findIndex(tag => tag.path === '/dashboard')
    if (index > 0) {
      const [dashboard] = visitedViews.value.splice(index, 1)
      visitedViews.value.unshift(dashboard)
      tagsViewStore.saveVisitedViews()
    }
  }
  document.addEventListener('click', handleClickOutside)
})

onBeforeUnmount(() => {
  document.removeEventListener('click', handleClickOutside)
})
</script>

<style lang="scss" scoped>
.tabs-view {
  position: relative;
  height: 40px;
  background: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  .scroll-container {
    :deep(.el-tabs) {
      height: 100%;

      .el-tabs__header {
        margin: 0;
        border: none;
      }

      .el-tabs__nav {
        border: none;
      }

      .el-tabs__item {
        height: 34px;
        line-height: 34px;
        border: none;
        background: transparent;

        &.is-active {
          margin-top: 0px;
          border-bottom: 1px solid transparent !important;
          border: 1px solid #42b983 !important;
          background-color: #42b983 !important;
          color: #fff !important;
        }

        &:hover {
          color: var(--el-color-primary);
        }
      }
    }
  }
}

.contextmenu {
  margin: 0;
  padding: 5px 0;
  background: var(--el-bg-color);
  border: 1px solid var(--el-border-color-light);
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 3000;

  .menu-item {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .el-icon {
      margin-right: 8px;
      font-size: 16px;
    }

    &:hover {
      background: var(--el-color-primary-light-9);
      color: var(--el-color-primary);
    }
  }
}
</style>
