<template>
  <div>
    <el-dialog v-model="open" title="选择流程" width="1200px" append-to-body>
      <el-form :inline="true" :model="listParam" class="demo-form-inline">
        <el-form-item label="流程名称">
          <el-input v-model="listParam.definitionName" placeholder="流程名称" clearable />
        </el-form-item>
        <el-form-item label="流程key">
          <el-input v-model="listParam.definitionKey" placeholder="流程key" clearable />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="handleQuery">查询</el-button>
        </el-form-item>
      </el-form>

      <el-table :height="tableHeight" :data="tableList.list" border stripe>
        <el-table-column label="流程id" align="center" prop="id" width="300" />
        <el-table-column label="流程名称" align="center" prop="name" />
        <el-table-column label="流程key" align="center" prop="key" />
        <el-table-column label="版本" align="center" prop="version" />
        <el-table-column>
          <template #default="scope">
            <el-button link type="primary" @click="handleSelect(scope.row)">选择</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination style="margin-top:5px;margin-right:5px;text-align:right;"
                     @size-change="sizeChange"
                     @current-change="currentChange"
                     :current-page.sync="listParam.pageNo"
                     :page-sizes="[10, 20, 50, 100]"
                     :page-size="listParam.pageSize"
                     layout="->,total, sizes, prev, pager, next, jumper"
                     :total="listParam.total"
                     background
      />
    </el-dialog>
  </div>
</template>
<script setup lang="ts">
import { ref, reactive } from "vue";
import useTable from "@/composables/activiti/definition/useTable";
const {getList,listParam,searchBtn,resetBtn,tableList,sizeChange,currentChange,tableHeight,refresh} = useTable();

// 是否打开弹出框
const open = ref(false);

// 初始化
const init = () => {
  getList();
  open.value = true;
};

/**
 * 搜索按钮操作
 */
function handleQuery() {
  listParam.pageNo = 1;
  getList();
}

/**
 * 选择流程
 * @param row 选择的行
 */
function handleSelect(row: any) {
  emit("ok", row);
  open.value = false;
}

const emit = defineEmits<{
  (event: "ok", row: any): void;
}>();

defineExpose({
  init
});
</script>

<style scoped></style>
