<script setup lang="ts" >
import SysDialog from "@/components/dialog/SysDialog.vue";
import useDialog from "@/hooks/useDialog";
import { ref, reactive, onMounted, defineEmits, nextTick } from "vue";
import { getParentMenuApi, addMenuApi,listApi,updateMenuApi,deleteMenuApi } from "@/api/system/menu/index";
import {ElMessage, FormInstance} from "element-plus";
import {MenuType} from "@/api/system/menu/MenuModel.ts";
import useInstance from "@/hooks/useInstance.ts";
const { global } = useInstance();
//注册事件
const emits = defineEmits(['refresh']);
// 表格高度
const tableHeight = ref(0);
//表单ref属性
const addForm = ref<FormInstance>();
//弹框属性
const { dialog, onClose ,onShow } = useDialog();
const treeList = ref([]);
//获取上级菜单数据
const getParentMenu = () => {
  getParentMenuApi().then(res => {
    if (res.code === 200) {
      treeList.value = res.data;
    } else {
      ElMessage.error(res.message);
    }
  });
};
//标识：新增、编辑
const tags = ref('');
//新增按钮
const addBtn = () => {
  tags.value = '0';
  dialog.title = "新增";
  //获取上级菜单信息
  getParentMenu();
  //显示弹框
  onShow();
  //表单清空
  addForm.value?.resetFields();
};

//表单绑定的对象
const addModel = reactive({
  menuId: '',
  parentId: '',
  title: '',
  code: '',
  name: '',
  path: '',
  url: '',
  icon: "",
  parentName: '',
  orderNum: ''
});

//上级菜单选中事件
const treeClick = (data) => {
  addModel.parentName = data.title;
};

//表单校验规则
const rules = reactive({
  parentId: [
    { required: true, message: '请选择上级菜单', trigger: ['blur', 'change'] }
  ],
  title: [
    { required: true, message: '请输入菜单名称', trigger: ['blur', 'change'] }
  ],
  code: [
    { required: true, message: '请输入权限字段', trigger: ['blur', 'change'] }
  ],
  name: [
    { required: true, message: '请输入路由名称', trigger: ['blur', 'change'] }
  ],
  path: [
    { required: true, message: '请输入路由地址', trigger: ['blur', 'change'] }
  ],
  url: [
    { required: true, message: '请输入组件路径', trigger: ['blur', 'change'] }
  ],
  orderNum: [
    { required: true, message: '请输入菜单序号', trigger: ['blur', 'change'] }
  ]
});

// 编辑按钮
const editBtn = async (row:MenuType) => {
  tags.value = '1';
  dialog.title = "编辑";
  //获取上级菜单信息
  await getParentMenu();
  //显示弹框
  onShow();
  //表单赋值
  nextTick(() => {
    Object.assign(addModel, row);
  });
  //表单清空
  addForm.value?.resetFields();
}

// 删除按钮
const deleteBtn = async (menuId:string) => {
  const confirm = await global.$confirm('确认删除该菜单？');
  if (confirm) {
    deleteMenuApi(menuId).then(res => {
      if (res.code === 200) {
        ElMessage.success(res.message);
        // 刷新列表
        getList();
        emits('refresh');
      } else {
        ElMessage.error(res.message);
      }
    });
  }
}

// 表单提交
const submitForm = () => {
  addForm.value.validate(async (valid) => {
    if (valid) {
      console.log(addModel);
      let res;
      if (tags.value === '0') {
        // 表单提交
        res = await addMenuApi(addModel);
      }else if (tags.value === '1') {
        // 表单提交
        res = await updateMenuApi(addModel);
      }
      if (res && res.code === 200) {
        //子组件调用父组件的方法
        emits('refresh');
        ElMessage.success(res.message);
        // 关闭弹框
        onClose();
        // 刷新列表
        getList();
      } else {
        ElMessage.error(res.message);
      }
    } else {
      return false;
    }
  });
};

// 获取菜单列表
const tableList = ref([]);
const getList = () => {
  listApi().then(res => {
    if (res.code === 200) {
      tableList.value = res.data;
    }
  });
};
onMounted(() => {
  getList();
  nextTick(() => {
    tableHeight.value = window.innerHeight - 220;
  });
});
</script>

<template>
  <el-main style="padding-top: 10px;">
    <el-button v-if="global.$hasPerm(['sys:menu:add'])" type="primary" icon="Plus" size="default" @click="addBtn">新增</el-button>
    <el-table
        default-expand-all
        :data="tableList"
        row-key="menuId"
        border
        stripe
        :height="tableHeight"
        style="width: 100%;margin-top: 10px;">
      <el-table-column label="菜单名称" prop="title"></el-table-column>
      <el-table-column label="菜单图标" prop="icon">
        <template #default="scope">
          <el-icon v-if="scope.row.icon">
            <component :is="scope.row.icon"></component>
          </el-icon>
        </template>
      </el-table-column>
      <el-table-column label="菜单类型" prop="type">
        <template #default="scope">
          <el-tag v-if="scope.row.type === '0'" type="danger" size="default">目录</el-tag>
          <el-tag v-if="scope.row.type === '1'" type="success" size="default">菜单</el-tag>
          <el-tag v-if="scope.row.type === '2'" type="primary" size="default">按钮</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="上级菜单" prop="parentName"></el-table-column>
      <el-table-column label="路由名称" prop="name"></el-table-column>
      <el-table-column label="路由地址" prop="path"></el-table-column>
      <el-table-column label="组件路径" prop="url"></el-table-column>
      <el-table-column label="权限字段" prop="code"></el-table-column>
      <el-table-column label="排序" prop="orderNum"></el-table-column>
      <el-table-column v-if="global.$hasPerm(['sys:menu:update','sys:menu:delete'])"  label="操作" width="180px" align="center">
        <template #default="scope">
          <el-button v-if="global.$hasPerm(['sys:menu:update'])" type="primary" icon="Edit" size="small" @click="editBtn(scope.row)">编辑</el-button>
          <el-button v-if="global.$hasPerm(['sys:menu:delete'])" type="danger" icon="Delete" size="small" @click="deleteBtn(scope.row.menuId)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <!-- 新增弹框 -->
    <sys-dialog
        :title="dialog.title"
        :width="dialog.width"
        :height="dialog.height"
        :visible="dialog.visible"
        size="default"
        @on-close="onClose"
        @on-confirm="submitForm"
    >
      <template v-slot:content>
        <el-form ref="addForm" :model="addModel" :rules="rules" label-width="100px" :inline="false" size="default">
          <el-form-item label="菜单类型" prop="type">
            <el-radio-group v-model="addModel.type">
              <el-radio :value="'0'">目录</el-radio>
              <el-radio :value="'1'">菜单</el-radio>
              <el-radio :value="'2'">按钮</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-row :gutter="20">
            <el-col :span="12" :offset="0">
              <el-form-item label="上级菜单" prop="parentId">
                <el-tree-select
                    @check-change="treeClick"
                    v-model="addModel.parentId"
                    :data="treeList"
                    :render-after-expand="false"
                    show-checkbox
                    check-strictly
                ></el-tree-select>
              </el-form-item>
            </el-col>
            <el-col :span="12" :offset="0">
              <el-form-item label="菜单名称" prop="title">
                <el-input v-model="addModel.title"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-if="addModel.type !== '2'" :gutter="20">
            <el-col :span="12" :offset="0">
              <el-form-item label="菜单图标" prop="icon">
                <el-input v-model="addModel.icon"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12" :offset="0">
              <el-form-item label="路由名称" prop="name">
                <el-input v-model="addModel.name"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12" :offset="0">
              <el-form-item label="菜单序号" prop="orderNum">
                <el-input v-model="addModel.orderNum"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12" :offset="0">
              <el-form-item label="权限字段" prop="code">
                <el-input v-model="addModel.code"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col v-if="addModel.type !== '2'" :span="12" :offset="0">
              <el-form-item label="路由地址" prop="path">
                <el-input v-model="addModel.path"></el-input>
              </el-form-item>
            </el-col>
            <el-col v-if="addModel.type === '1'" :span="12" :offset="0">
              <el-form-item label="组件路径" prop="url">
                <el-input v-model="addModel.url"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </template>
    </sys-dialog>
  </el-main>
</template>

<style scoped>

</style>
