<script setup lang="ts">
import { ref } from "vue";
import useTable from "@/composables/activiti/definition/useTable";
import useUser from "@/composables/activiti/definition/useDefinition";
import { Delete, Plus, RefreshLeft, Search, VideoPlay, VideoPause} from "@element-plus/icons-vue";
import useInstance from "@/hooks/useInstance";
import MainForm from "@/views/activiti/definition/model/MainForm.vue";
import BpmnDetails from "@/views/activiti/definition/model/BpmnDetails.vue";
import DeployBpmn from "@/views/activiti/definition/model/DeployBpmn.vue";
import {Crop, Pointer} from "lucide-vue-next";
//表格相关的操作
const {getList,listParam,searchBtn,resetBtn,tableList,sizeChange,currentChange,tableHeight} = useTable();
//新增、修改、删除操作
const { delBtn,updateState} = useUser(getList);
// 部署bpmn
const deployBpmn = ref();
//流程详情
const bpmnDetails = ref();
const { global } = useInstance();
/**
 * 新增
 */
function handleAdd() {
  deployBpmn.value.open(undefined);
}

/**
 * 详情
 * @param deploymentId 流程部署id
 */
function handleDetails(deploymentId: string) {
  bpmnDetails.value.open(deploymentId);
}

/**
 * 设计
 * @param deploymentId 流程部署id
 */
function handleDesign(deploymentId: string) {
  deployBpmn.value.open(deploymentId);
}

getList();
</script>

<template>
  <el-main>
    <!-- 搜索栏 -->
    <el-form
      :model="listParam"
      :inline="true"
      size="default"
    >
      <el-form-item label="流程名称">
        <el-input v-model="listParam.definitionName" placeholder="请输入流程名称"></el-input>
      </el-form-item>
      <el-form-item label="流程key">
        <el-input v-model="listParam.definitionKey" placeholder="请输入流程key"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="searchBtn" :icon="Search">查询</el-button>
        <el-button type="danger" plain @click="resetBtn" :icon="RefreshLeft">重置</el-button>
        <el-button v-if="global.$hasPerm(['sys:user:add'])" type="primary" @click="handleAdd" :icon="Plus">新增</el-button>
      </el-form-item>
    </el-form>
    <!-- 表格 -->
    <el-table :height="tableHeight" :data="tableList.list" border stripe>
      <el-table-column type="index" label="序号" width="80" align="center"></el-table-column>
      <el-table-column prop="id" label="流程id" align="center"></el-table-column>
      <el-table-column prop="name" label="流程名称" align="center"></el-table-column>
      <el-table-column prop="key" label="流程key" align="center"></el-table-column>
      <el-table-column prop="version" label="版本" align="center"></el-table-column>
      <el-table-column label="主表单" align="center" width="100">
        <template #default="scoped">
          <MainForm :form-json="scoped.row.formJson" />
          <h5 v-if="!scoped.row.formJson">暂无信息</h5>
        </template>
      </el-table-column>
      <el-table-column label="状态" align="center">
        <template #default="scoped">
          <el-tag v-if="scoped.row.suspended" type="danger">挂起</el-tag>
          <el-tag v-else>激活</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="deploymentTime" label="部署时间" align="center"></el-table-column>
      <el-table-column v-if="global.$hasPerm(['sys:user:update','sys:user:delete','sys:user:reset'])" label="操作" width="320" align="center">
        <template #default="scope">
          <el-button link v-if="global.$hasPerm(['sys:user:update'])" type="primary" size="default" @click="handleDesign(scope.row.deploymentId)" :icon="Crop">设计</el-button>
          <el-button link v-if="scope.row.suspended" type="danger" size="default" @click="updateState(scope.row.deploymentId)" :icon="VideoPlay">激活</el-button>
          <el-button link v-else type="warning" size="default" @click="updateState(scope.row.deploymentId)" :icon="VideoPause">挂起</el-button>
          <el-button link v-if="global.$hasPerm(['sys:user:delete'])" type="danger" size="default" @click="handleDetails(scope.row.deploymentId)" :icon="Pointer">查看</el-button>
          <el-button link v-if="global.$hasPerm(['sys:user:delete'])" type="danger" size="default" @click="delBtn(scope.row.deploymentId)" :icon="Delete">删除</el-button>

        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination style="margin-top:5px;margin-right:5px;text-align:right;"
                   @size-change="sizeChange"
                   @current-change="currentChange"
                   :current-page.sync="listParam.pageNo"
                   :page-sizes="[10, 20, 50, 100]"
                   :page-size="listParam.pageSize"
                   layout="->,total, sizes, prev, pager, next, jumper"
                   :total="listParam.total"
                   background
    />
    <!-- 部署bpmn弹出框 -->
    <DeployBpmn ref="deployBpmn" @ok="getList" />

    <!-- 流程详情 -->
    <BpmnDetails ref="bpmnDetails" />
  </el-main>
</template>

<style scoped>

</style>
