<script setup lang="ts">
import {User, Lock, Message} from '@element-plus/icons-vue';
import { LoginReq } from '@/interface/user';
import {reactive,ref,onMounted} from 'vue'
import { ElMessage, FormInstance,FormRules } from 'element-plus';
import {useLoginApi} from "@/api/login";
import { useRouter } from 'vue-router';
import {getCaptchaApi} from "@/api/user";
import { userStore } from '@/store/user/index.ts';

const store=userStore();
const router=useRouter()

const loginParam:LoginReq=reactive({
  username:"",
  password:"",
  captcha:""
})

const loginRef=ref<FormInstance>()
const loginRules:FormRules=reactive({
  username:[{required:true,message:"账号不能为空",trigger:'blur'}],
  password:[{required:true,message:"密码不能为空",trigger:'blur'}],
  captcha:[{required:true,message:"验证码不能为空",trigger:'blur'}]
})
const submit=(formEl: FormInstance | undefined)=>{
  if(!formEl){
    return false
  }
  formEl.validate(async (validate:boolean)=>{
    if(validate){
      await useLoginApi(loginParam).then((res)=>{
        ElMessage.success("登录成功");
        store.setUserId(res.data.userId);
        store.setNickName(res.data.nickName);
        store.setToken(res.data.token);
        console.log("hhhhhhh:",store)
        // 跳转到首页
        router.push("/")
      })
    }else{
      return false;
    }
  })
}

const imgsrc = ref('');
// 获取验证码
const getCaptcha= async ()=>{
  let res = await getCaptchaApi();
  if(res && res.code === 200){
    imgsrc.value = res.data;
  } else {
    ElMessage.error("获取验证码失败");
  }
};

onMounted(()=>{
  getCaptcha()
})
</script>

<template>
  <el-form class="login-form" ref="loginRef" :model="loginParam" :rules="loginRules">
    <h1 class="login-title">登录</h1>
    <el-form-item prop="username">
      <el-input placeholder="请输入账号" :prefix-icon="User" v-model="loginParam.username" size="large"></el-input>
    </el-form-item>
    <el-form-item prop="password">
      <el-input placeholder="请输入密码" show-password :prefix-icon="Lock" v-model="loginParam.password" size="large"></el-input>
    </el-form-item>
    <el-form-item prop="captcha">
      <el-row style="width: 100%;" :gutter="10">
        <el-col :span="16">
          <el-input placeholder="请输入验证码" :prefix-icon="Message" v-model="loginParam.captcha" ></el-input>
        </el-col>
        <el-col :span="8" :offset="0">
          <img class="images"  :src="`${imgsrc}`" @click="getCaptcha" title="点击更换" />
        </el-col>
      </el-row>
    </el-form-item>
    <el-checkbox v-model="checked" class="formCheck">记住我</el-checkbox>
    <el-row :gutter="20">
      <el-col :span="12" :offset="0">
        <el-button type="primary" class="login-btn" size="large" @click="submit(loginRef)">登录</el-button>
      </el-col>
      <el-col :span="12" :offset="0">
        <el-button type="danger" plain class="mybtn" size="large" >重置</el-button>
      </el-col>
    </el-row>
  </el-form>
</template>

<style scoped>
.login-form{
    grid-column: 1;
    grid-row: 1;
    opacity: 1;
    transition: 1s ease-in-out;
    transition-delay: 0.5s;
    /* 上下 | 左右 */
    padding: 1% 25%; /* 上下左右的内边距 */
    z-index: 1; /*保证登录框在最上层*/
}
.login-form.sign-up-model{
    opacity: 0;
    transition: 1s ease-in-out;
    z-index: 0;
}
.login-title{
    text-align: center;
    color:#444;
}
.login-btn{
    width: 100%;
    font-size: 18px;
}
.images{
  height: 30px;
  width: 100%;
  cursor: pointer;
}
.mybtn{
  width: 100%;
}
</style>
