<script setup lang="ts">
import { ref } from "vue";
import useTable from "@/composables/activiti/start/useTable";
import { Plus, RefreshLeft, Search} from "@element-plus/icons-vue";
import {ElMessage, ElMessageBox} from "element-plus";
//表格相关的操作
const {getList,listParam,searchBtn,resetBtn,tableList,sizeChange,currentChange,tableHeight,refresh} = useTable();
import StartProcess from "./model/StartProcess.vue";
import HistoryRecord from "@/components/HistoryRecord/index.vue";
import useInstance from "@/hooks/useInstance";
import {deleteApi} from "@/api/activiti/start";
const { global } = useInstance();
// 发起流程弹出框
const startProcessRef = ref();

// 审批记录弹出框
const historyRecordRef = ref();


/**
 * 发起流程
 */
function handleAdd() {
  startProcessRef.value.init();
}

/**
 * 审批记录
 * @param instanceId 流程实例id
 */
function handleHistoryRecord(instanceId: string) {
  historyRecordRef.value.open(instanceId);
}

/**
 * 删除按钮操作
 * @param instanceId 流程实例id
 */
function handleDelete(instanceId: any) {
  ElMessageBox.confirm("确认要删除当前项吗?", "提示").then(() => {
    deleteApi(instanceId).then((res) => {
      console.log(res);
      if (res.code === 200) {
        ElMessage.success(res.message);
        getList();
      } else {
        ElMessage.error(res.message);
      }
    });
  }).catch(() => {});
}

getList();
</script>

<template>
  <el-main>
    <!-- 搜索栏 -->
    <el-form
      :model="listParam"
      :inline="true"
      size="default"
    >
      <el-form-item label="业务key">
        <el-input v-model="listParam.businessKey" placeholder="请输入业务key(不是模糊查询)"></el-input>
      </el-form-item>
      <el-form-item label="流程名称">
        <el-input v-model="listParam.definitionName" placeholder="请输入流程名称(不是模糊查询)"></el-input>
      </el-form-item>
      <el-form-item label="流程key">
        <el-input v-model="listParam.definitionKey" placeholder="请输入流程key(不是模糊查询)"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="searchBtn" :icon="Search">查询</el-button>
        <el-button type="danger" plain @click="resetBtn" :icon="RefreshLeft">重置</el-button>
        <el-button v-if="global.$hasPerm(['sys:user:add'])" type="primary" @click="handleAdd" :icon="Plus">新增</el-button>
      </el-form-item>
    </el-form>
    <!-- 表格 -->
    <el-table :height="tableHeight" :data="tableList.list" border stripe>
      <el-table-column label="序号" type="index" width="80" />
      <el-table-column label="业务key" align="center" prop="businessKey" />
      <el-table-column label="流程名称" align="center" prop="definitionName" />
      <el-table-column label="流程key" align="center" prop="definitionKey" />
      <el-table-column label="版本" align="center" prop="definitionVersion" />
      <el-table-column label="开始时间" align="center" prop="startTime" />
      <el-table-column label="结束时间" align="center" prop="endTime" />
      <el-table-column label="当前节点" align="center" prop="taskName" />
      <el-table-column label="状态" align="center">
        <template #default="scope">
          <span v-if="scope.row.status === 1">进行中</span>
          <span v-if="scope.row.status === 2">已完成</span>
        </template>
      </el-table-column>
      <el-table-column width="200">
        <template #default="scope">
          <el-button link type="primary" icon="Delete" @click="handleDelete(scope.row.id)">删除</el-button>
          <el-button link type="primary" icon="Pointer" @click="handleHistoryRecord(scope.row.id)">审批记录</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination style="margin-top:5px;margin-right:5px;text-align:right;"
                   @size-change="sizeChange"
                   @current-change="currentChange"
                   :current-page.sync="listParam.pageNo"
                   :page-sizes="[10, 20, 50, 100]"
                   :page-size="listParam.pageSize"
                   layout="->,total, sizes, prev, pager, next, jumper"
                   :total="listParam.total"
                   background
    />
    <!-- 发起流程 -->
    <StartProcess ref="startProcessRef" @ok="getList" />

    <!-- 审批记录 -->
    <HistoryRecord ref="historyRecordRef" />
  </el-main>
</template>

<style scoped>

</style>
