<template>
  <div class="menu-container">
    <!-- 操作按钮区域 -->
    <el-card class="table-wrapper">
      <template #header>
        <div class="header-operations">
          <el-button type="primary" @click="handleAdd">新增菜单</el-button>
          <el-button @click="toggleExpand">
            <el-icon><ArrowDown v-if="!isExpanded" /><ArrowUp v-else /></el-icon>
            {{ isExpanded ? '折叠' : '展开' }}
          </el-button>
        </div>
      </template>

      <!-- 表格区域 -->
      <el-table
        ref="tableRef"
        v-loading="loading"
        :data="menuList"
        row-key="id"
        :default-expand-all="isExpanded"
        :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
        border
        stripe
      >
        <el-table-column prop="menuName" label="菜单名称" min-width="200">
          <template #default="{ row }">
            <span v-if="row.menuType === 'MENU'">
              <el-icon v-if="row.icon"><component :is="row.icon" /></el-icon>
              <span class="menu-name">{{ row.menuName }}</span>
            </span>
            <span v-else class="menu-button">
              <el-tag size="small" type="info">{{ row.menuName }}</el-tag>
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="menuType" label="类型" width="80" align="center">
          <template #default="{ row }">
            <el-tag v-if="row.menuType === 'MENU'" type="success">菜单</el-tag>
            <el-tag v-else type="warning">按钮</el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="path" label="路由地址" min-width="200">
          <template #default="{ row }">
            <span v-if="row.menuType === 'MENU'">{{ row.path }}</span>
            <span v-else>--</span>
          </template>
        </el-table-column>
        <el-table-column prop="component" label="组件路径" min-width="200">
          <template #default="{ row }">
            <span v-if="row.menuType === 'MENU'">{{ row.component }}</span>
            <span v-else>--</span>
          </template>
        </el-table-column>
        <el-table-column prop="perms" label="权限标识" min-width="180">
          <template #default="{ row }">
            <el-tag v-if="row.perms" size="small" type="info">{{ row.perms }}</el-tag>
            <span v-else>--</span>
          </template>
        </el-table-column>
        <el-table-column prop="sortOrder" label="排序" width="80" align="center" />
        <el-table-column prop="status" label="状态" width="80" align="center">
          <template #default="{ row }">
            <el-tag :type="row.status === 1 ? 'success' : 'danger'" size="small">
              {{ row.status === 1 ? '启用' : '禁用' }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="160" fixed="right">
          <template #default="{ row }">
            <el-button type="primary" link @click="handleEdit(row)">编辑</el-button>
            <el-button 
              type="danger" 
              link 
              @click="handleDelete(row)"
              :disabled="row.children?.length > 0"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <!-- 菜单表单对话框 -->
    <el-dialog
      :title="dialog.title"
      v-model="dialog.visible"
      width="600px"
      @close="resetForm"
    >
      <el-form
        ref="formRef"
        :model="form"
        :rules="rules"
        label-width="100px"
      >
        <el-form-item label="上级菜单">
          <el-tree-select
            v-model="form.parentId"
            :data="menuOptions"
            :props="{ label: 'menuName', value: 'id' }"
            placeholder="请选择上级菜单"
            check-strictly
            clearable
            :disabled="!!form.id && form.parentId === 0"
          />
        </el-form-item>
        <el-form-item label="菜单类型" prop="menuType">
          <el-radio-group v-model="form.menuType">
            <el-radio label="MENU">菜单</el-radio>
            <el-radio label="BUTTON">按钮</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="菜单名称" prop="menuName">
          <el-input v-model="form.menuName" placeholder="请输入菜单名称" />
        </el-form-item>
        <template v-if="form.menuType === 'MENU'">
          <el-form-item label="路由地址" prop="path">
            <el-input v-model="form.path" placeholder="请输入路由地址" />
          </el-form-item>
          <el-form-item label="组件路径" prop="component">
            <el-input v-model="form.component" placeholder="请输入组件路径" />
          </el-form-item>
          <el-form-item label="菜单图标" prop="icon">
            <el-input v-model="form.icon" placeholder="请输入菜单图标" />
          </el-form-item>
        </template>
        <el-form-item label="权限标识" prop="perms">
          <el-input v-model="form.perms" placeholder="请输入权限标识" />
        </el-form-item>
        <el-form-item label="显示排序" prop="sortOrder">
          <el-input-number v-model="form.sortOrder" :min="0" :max="999" />
        </el-form-item>
        <el-form-item label="菜单状态" prop="status">
          <el-radio-group v-model="form.status">
            <el-radio :label="1">启用</el-radio>
            <el-radio :label="0">禁用</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <template #footer>
        <el-button @click="dialog.visible = false">取消</el-button>
        <el-button type="primary" @click="submitForm">确定</el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue'
import type { FormInstance, FormRules } from 'element-plus'
import type { TableInstance } from 'element-plus'
import { ElMessage, ElMessageBox } from 'element-plus'
import { ArrowDown, ArrowUp } from '@element-plus/icons-vue'
import { getMenuTree, addMenu, updateMenu, deleteMenu } from '@/api/menu'
import type { MenuItem } from '@/api/menu'

const loading = ref(false)
const isExpanded = ref(true)
const menuList = ref<MenuItem[]>([])
const menuOptions = ref<MenuItem[]>([])
const tableRef = ref<TableInstance>()
const formRef = ref<FormInstance>()

const dialog = ref({
  title: '',
  visible: false
})

const form = ref({
  id: undefined,
  parentId: 0,
  menuType: 'MENU',
  menuName: '',
  path: '',
  component: '',
  perms: '',
  icon: '',
  sortOrder: 0,
  status: 1
})

const rules: FormRules = {
  menuType: [{ required: true, message: '请选择菜单类型', trigger: 'change' }],
  menuName: [{ required: true, message: '请输入菜单名称', trigger: 'blur' }],
  path: [{ 
    required: true, 
    message: '请输入路由地址', 
    trigger: 'blur',
    validator: (rule, value, callback) => {
      if (form.value.menuType === 'MENU' && !value) {
        callback(new Error('请输入路由地址'))
      } else {
        callback()
      }
    }
  }],
  component: [{ 
    required: true, 
    message: '请输入组件路径', 
    trigger: 'blur',
    validator: (rule, value, callback) => {
      if (form.value.menuType === 'MENU' && !value) {
        callback(new Error('请输入组件路径'))
      } else {
        callback()
      }
    }
  }]
}

// 获取菜单列表
const getList = async () => {
  loading.value = true
  try {
    const { data } = await getMenuTree()
    menuList.value = data
    isExpanded.value = true
  } catch (error) {
    console.error('Failed to load menu tree:', error)
  } finally {
    loading.value = false
  }
}

// 获取菜单树数据
const getMenuTreeData = async () => {
  try {
    const { data } = await getMenuTree()
    menuOptions.value = data
  } catch (error) {
    console.error('Failed to load menu options:', error)
  }
}

// 展开/折叠
const toggleExpand = () => {
  isExpanded.value = !isExpanded.value
  // 递归获取所有节点
  const getAllNodes = (menus: MenuItem[]): MenuItem[] => {
    let nodes: MenuItem[] = []
    menus.forEach(menu => {
      nodes.push(menu)
      if (menu.children?.length) {
        nodes = nodes.concat(getAllNodes(menu.children))
      }
    })
    return nodes
  }

  // 获取所有节点
  const allNodes = getAllNodes(menuList.value)

  if (isExpanded.value) {
    // 展开所有节点
    allNodes.forEach(node => {
      tableRef.value?.toggleRowExpansion(node, true)
    })
  } else {
    // 折叠所有节点
    allNodes.forEach(node => {
      tableRef.value?.toggleRowExpansion(node, false)
    })
  }
}

// 新增菜单
const handleAdd = () => {
  resetForm()
  dialog.title = '新增菜单'
  dialog.visible = true
  // 先获取菜单树数据
  getMenuTreeData().then(() => {
    // 如果有父菜单，设置父菜单ID
    if (menuOptions.value.length) {
      form.value.parentId = 0
    }
  })
}

// 修改菜单
const handleEdit = (row: MenuItem) => {
  resetForm()
  dialog.title = '修改菜单'
  dialog.visible = true
  // 先获取菜单树数据
  getMenuTreeData().then(() => {
    // 设置表单数据
    Object.assign(form.value, {
      id: row.id,
      parentId: row.parentId,
      menuType: row.menuType,
      menuName: row.menuName,
      path: row.path || '',
      component: row.component || '',
      perms: row.perms || '',
      icon: row.icon || '',
      sortOrder: row.sortOrder,
      status: row.status
    })
  })
}

// 删除菜单
const handleDelete = (row: MenuItem) => {
  if (row.children?.length) {
    ElMessage.warning('该菜单下还有子菜单，不能删除')
    return
  }
  
  ElMessageBox.confirm('确认要删除该菜单吗？', '警告', {
    type: 'warning'
  }).then(async () => {
    await deleteMenu(row.id)
    ElMessage.success('删除成功')
    getList()
  })
}

// 重置表单
const resetForm = () => {
  formRef.value?.resetFields()
  Object.assign(form.value, {
    id: undefined,
    parentId: 0,
    menuType: 'MENU',
    menuName: '',
    path: '',
    component: '',
    perms: '',
    icon: '',
    sortOrder: 0,
    status: 1
  })
}

// 提交表单
const submitForm = async () => {
  if (!formRef.value) return
  try {
    await formRef.value.validate()
    
    // 处理表单数据
    const formData = {
      ...form.value,
      // 如果是按钮类型，清空路由相关字段
      path: form.value.menuType === 'BUTTON' ? '' : form.value.path,
      component: form.value.menuType === 'BUTTON' ? '' : form.value.component,
      icon: form.value.menuType === 'BUTTON' ? '' : form.value.icon
    }
    
    if (dialog.title === '新增菜单') {
      await addMenu(formData)
      ElMessage.success('新增成功')
    } else {
      await updateMenu(formData.id!, formData)
      ElMessage.success('修改成功')
    }
    dialog.visible = false
    getList()
  } catch (error) {
    console.error('表单验证失败:', error)
  }
}

// 初始化
getList()
</script>

<style lang="scss" scoped>
.menu-container {
  padding: 20px;
  
  .table-wrapper {
    .header-operations {
      display: flex;
      gap: 10px;
    }
    
    :deep(.el-table) {
      .menu-name {
        margin-left: 8px;
      }
      
      .el-icon {
        vertical-align: middle;
      }
    }
  }
}
</style> 