<template>
  <el-menu
    :default-active="activeMenu"
    :collapse="isCollapse"
    :unique-opened="true"
    :background-color="variables['--menu-bg-color']"
    :text-color="variables['--menu-text-color']"
    :active-text-color="variables['--menu-active-text-color']"
    router
    class="sidebar-menu"
  >
    <sidebar-item
      v-for="menu in menus"
      :key="menu.path"
      :item="{
        menuName: menu.menuName,
        icon: menu.icon,
        path: menu.path,
        children: menu.children
      }"
    />
  </el-menu>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { useRoute } from 'vue-router'
import { useThemeStore, themes } from '@/stores/theme'
import { useMenuStore } from '@/stores/menu'
import SidebarItem from './SidebarItem.vue'

const route = useRoute()
const themeStore = useThemeStore()
const menuStore = useMenuStore()

defineProps({
  isCollapse: {
    type: Boolean,
    required: true
  }
})

const menus = computed(() => menuStore.menuList)
const activeMenu = computed(() => route.path)
const variables = computed(() => {
  const theme = themes.find(t => t.name === themeStore.currentTheme)
  return theme?.variables || {}
})
</script>

<style lang="scss" scoped>
.sidebar-menu {
  height: calc(100vh - 50px);
  border-right: none;

  :deep(.el-menu-item) {
    &:hover {
      background-color: var(--menu-hover-bg-color) !important;
    }

    &.is-active {
      background-color: var(--menu-active-bg-color) !important;
    }
  }

  :deep(.el-sub-menu) {
    .el-sub-menu__title {
      &:hover {
        background-color: var(--menu-hover-bg-color) !important;
      }
    }
  }
}
</style> 