<template>
  <el-sub-menu v-if="hasChildren" :index="resolvePath(item.path)">
    <template #title>
      <el-icon v-if="item.icon">
        <component :is="item.icon" />
      </el-icon>
      <span>{{ item.menuName }}</span>
    </template>
    <sidebar-item
      v-for="child in item.children"
      :key="child.path"
      :item="child"
      :base-path="resolvePath(item.path)"
    />
  </el-sub-menu>
  <el-menu-item v-else :index="resolvePath(item.path)" @click="handleClick">
    <el-icon v-if="item.icon">
      <component :is="item.icon" />
    </el-icon>
    <template #title>{{ item.menuName }}</template>
  </el-menu-item>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { useRouter } from 'vue-router'

interface MenuItem {
  id: number
  menuName: string
  icon?: string
  path?: string
  children?: MenuItem[]
}

const props = defineProps<{
  item: MenuItem
  basePath?: string
}>()

const router = useRouter()
const hasChildren = computed(() => {
  return props.item.children?.length > 0
})

const resolvePath = (routePath?: string) => {
  if (!routePath) {
    return ''
  }
  if (routePath.startsWith('/')) {
    return routePath
  }
  const base = props.basePath || ''
  if (base.endsWith('/')) {
    return base + routePath
  }
  return `${base}/${routePath}`
}

const handleClick = () => {
  const path = resolvePath(props.item.path)
  if (path) {
    router.push(path)
  }
}
</script>

<style lang="scss" scoped>
.menu-wrapper {
  .el-menu-item, .el-sub-menu__title {
    display: flex;
    align-items: center;

    .el-icon {
      margin-right: 8px;
      color: inherit;
    }
  }
}
</style> 