<template>
  <el-main>
    <!-- 搜索栏 -->
    <el-form
      :model="listParam"
      :inline="true"
      size="default"
    >
      <el-form-item label="流程名称">
        <el-input v-model="listParam.definitionName" placeholder="请输入流程名称"></el-input>
      </el-form-item>
      <el-form-item label="流程key">
        <el-input v-model="listParam.definitionKey" placeholder="请输入流程key"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="searchBtn" :icon="Search">查询</el-button>
        <el-button type="danger" plain @click="resetBtn" :icon="RefreshLeft">重置</el-button>
      </el-form-item>
    </el-form>
    <!-- 表格 -->
    <el-table :height="tableHeight" :data="tableList.list" border stripe>
      <el-table-column label="序号" type="index" width="100" />
      <el-table-column label="流程名称" align="center" prop="definitionName" />
      <el-table-column label="流程key" align="center" prop="definitionKey" />
      <el-table-column label="创建时间" align="center" prop="createTime" />
      <el-table-column label="当前节点" align="center" prop="taskName" />
      <el-table-column label="当前节点key" align="center" prop="taskDefinitionKey" />
      <el-table-column label="发起人" align="center" prop="startUserName" />
      <el-table-column>
        <template #default="scope">
          <el-button link type="primary" icon="Pointer" @click="handleApproval(scope.row)">审批</el-button>
          <el-button link type="primary" icon="Pointer" @click="handleHistoryRecord(scope.row.processInstanceId)">审批记录</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination style="margin-top:5px;margin-right:5px;text-align:right;"
                   @size-change="sizeChange"
                   @current-change="currentChange"
                   :current-page.sync="listParam.pageNo"
                   :page-sizes="[10, 20, 50, 100]"
                   :page-size="listParam.pageSize"
                   layout="->,total, sizes, prev, pager, next, jumper"
                   :total="listParam.total"
                   background
    />
      <!-- 审批 -->
      <Approval ref="approvalRef" @ok="getList" />

      <!-- 审批记录 -->
      <HistoryRecord ref="historyRecordRef" />
  </el-main>
</template>
<script setup lang="ts">
import { ref, reactive } from "vue";
import Approval from "./model/Approval.vue";
import HistoryRecord from "@/components/HistoryRecord/index.vue";
import useTable from "@/composables/activiti/todo/useTable";
import {RefreshLeft, Search} from "@element-plus/icons-vue";
//表格相关的操作
const {getList,listParam,searchBtn,resetBtn,tableList,sizeChange,currentChange,tableHeight,refresh} = useTable();
// 发起流程弹出框
const approvalRef = ref();
// 审批记录弹出框
const historyRecordRef = ref();


/**
 * 审批流程实例
 * @param row 当前行数据
 */
function handleApproval(row: any) {
  approvalRef.value.handleOpen(row.processInstanceId, row.taskId, row.taskDefinitionKey);
}

/**
 * 审批记录
 * @param instanceId 流程实例id
 */
function handleHistoryRecord(instanceId: string) {
  historyRecordRef.value.open(instanceId);
}

getList();
</script>

<style scoped></style>
