<script setup lang="ts">

</script>

<template>
  <div class="container">
    <el-result icon="warning" title="404" sub-title="非常抱歉，你访问的页面走丢了~~~">
      <template #extra>
        <el-button type="primary" @click="$router.push('/')">返回首页</el-button>
      </template>
    </el-result>
  </div>
</template>

<style scoped>
.container {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  height: 100vh; /* 使容器的高度为视口高度，确保el-result在容器中垂直居中 */
}

</style>