<script setup lang="ts">
import { ref } from 'vue';

const knife4jUrl = ref('http://localhost:8080/bpm/doc.html'); // 替换为你的Knife4j服务地址

function openKnife4j() {
  window.open(knife4jUrl.value, '_blank');
}
</script>
<template>
  <div>
    <iframe
        v-if="knife4jUrl"
        :src="knife4jUrl"
        width="100%"
        height="500"
        style="border: none;"
    ></iframe>
  </div>
</template>

<style scoped>

</style>