<template>
  <el-drawer v-model="drawer" size="100%" :with-header="false" destroy-on-close>
    <div id="designer-container">
      <!-- 操作按钮 -->
      <div class="toolbar">
        <el-button type="primary" @click="submit">保存</el-button>
        <Scales></Scales>
        <Commands></Commands>
        <Previews></Previews>
        <div class="close">
          <el-icon @click="close"><Close /></el-icon>
        </div>
      </div>
      <div class="main-content">
        <Designer :xml="xml" :settings="settings" />
        <Panel></Panel>
      </div>
    </div>
  </el-drawer>
</template>

<script setup lang="ts">
import {reactive, ref} from "vue";
import Previews from "@/components/BpmnJs/components/Toolbar/components/Previews";
import Scales from "@/components/BpmnJs/components/Toolbar/components/Scales";
import Commands from "@/components/BpmnJs/components/Toolbar/components/Commands";
import Designer from "@/components/BpmnJs/components/Designer";
import Panel from "@/components/BpmnJs/components/Panel";
import modelerStore from "@/store/modeler";
import { ElMessage, ElMessageBox, ElLoading } from "element-plus";
import { checkd } from "@/components/BpmnJs/overwrite-modules/Lint/bpmnlint";
import { nextTick } from "vue";
import {getWidgetDataType} from "@/api/activiti/table";
import {DeployProcessParam} from "@/api/activiti/definition/DefinitionModel";
import {deployProcessApi, getDefinitionInfoApi} from "@/api/activiti/definition";
import useTable from "@/composables/activiti/definition/useTable";

const modeler = modelerStore();

// bpmn配置
const settings = {
  processId: `Process_${new Date().getTime()}`,
  processName: `新建流程`,
  processEngine: "activiti",
  paletteMode: "rewrite",
  contextPadMode: "rewrite",
  useLint: true,
  isLabelEditingProvider: true,
  isMove: true
};

const deployProcessParam = reactive<DeployProcessParam>({
  //主要用于区分是新增还是编辑，0-新增；1-编辑
  xml:'',
  formJsonList:[],
  nodeColumns:[],
  tableInfo:{},
})

// 是否加载抽屉
let drawer = ref<boolean>(false);

// 流程设计器
let xml = ref<string>();

/**
 * 初始化设计器
 * @param deploymentId 部署id
 */
const open = async (deploymentId: string | undefined) => {
  const loading = ElLoading.service({
    lock: true,
    text: "加载中",
    background: "rgba(0, 0, 0, 0.7)"
  });
  modeler.clearData();
  const res = await getWidgetDataType();
  modeler.setWidgetDataType(res.data);
  // 获取到上一个版本的流程图xml
  if (deploymentId) {
    nextTick(async () => {
      try {
        const nextres = await getDefinitionInfoApi(deploymentId);
        if (nextres.code === 200) {
          let tableInfo = nextres.data.tableInfo;
          if (tableInfo) {
            tableInfo.type = "ready";
            modeler.setTableInfo(tableInfo);
          }
          console.log(nextres.data.nodeColumns);
          if (nextres.data.nodeColumns) {
            modeler.setNodeColumns(nextres.data.nodeColumns);
          }
          console.log(nextres.data.formJsonList);
          nextres.data.formJsonList.forEach((formJson) => {
            modeler.setFormJson(formJson);
          });
          xml.value = nextres.data.xml;
          loading.close();
          drawer.value = true;
        }
      } catch (error) {
        console.error("An error occurred:", error);
        // 处理错误情况，比如关闭加载状态等
        loading.close();
      }
    });
  } else {
    xml.value = "";
    drawer.value = true;
    loading.close();
    //子组件调用父组件的方法
    emit('ok');
  }
};

/**
 * 保存
 */
const submit = async () => {
  if (!checkd()) {
    ElMessage.error("流程存在错误,不能保存!");
    return;
  }
  try {
    await ElMessageBox.confirm("确定要部署当前流程吗?", "提示");
    modeler.updateData();
    const formJsonList = modeler.getFormJsonList;
    const nodeColumns = modeler.getNodeColumns;
    const tableInfo = modeler.getTableInfo;
    const { xml } = await modeler.getModeler.saveXML({ format: true, preamble: true });
    deployProcessParam.xml = xml;
    deployProcessParam.formJsonList = formJsonList;
    deployProcessParam.nodeColumns = nodeColumns;
    deployProcessParam.tableInfo = tableInfo;
    const res = await deployProcessApi(deployProcessParam);
    if (res.code === 200) {
      ElMessage.success("保存成功!");
      drawer.value = false;
      //子组件调用父组件的方法
      emit('ok');
    }
  } catch (error) {
    console.error("Error deploying process:", error);
    // 处理错误情况
  }
};

/**
 * 关闭
 */
const close = async () => {
  await ElMessageBox.confirm("确定要关闭吗?", "提示");
  drawer.value = false;
  //子组件调用父组件的方法
  emit('ok');
};

defineExpose({
  open
});

//注册事件
const emit = defineEmits<{
  (event: "ok"): void;
}>();
</script>

<style scoped lang="scss">
#designer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.close {
  font-size: 20px;
  margin-left: auto;
  i {
    cursor: pointer;
  }
}
</style>
@/store/modeler
