<script setup lang="ts">
import {getAssignTreeApi} from "@/api/menu";
import {reactive, ref} from "vue";
import SysDialog from "@/components/dialog/SysDialog.vue";
import useDialog from "@/hooks/useDialog.ts";
import {userStore} from "@/store/user";
import {addRoleMenu} from "@/api/roleMenu";
import {ElMessage, ElTree} from "element-plus";

const treeRef = ref<InstanceType<typeof ElTree>>();
const store = userStore();
const { dialog ,onClose,onShow } = useDialog();
//树配置
const defaultProps = {
  children: "children",
  label: "title",
}
//树数据
const assignTreeData = reactive({
  list: [],
  assignTreeChecked:[]
})
//树数据查询的参数
const assignTreeParams = reactive({
  userId: "",
  roleId: ""
})

const checked = (id: string,data:any,newArr:any) => {
  data.forEach((item: any) => {
    if (item.menuId === id) {
      if (item.children && item.children.length === 0) {
        newArr.push(item.menuId);
      }
    } else {
      if (item.children && item.children.length > 0) {
        //递归调用
        checked(id, item.children, newArr);
      }
    }
  });
};

// 查询菜单树
const getAssignTree = async () => {
  let res = await getAssignTreeApi(assignTreeParams);
  if (res && res.code === 200) {
    assignTreeData.list = res.data.menuList;
    assignTreeData.assignTreeChecked = res.data.checkList;
    //数据回显，判断角色原来是否已经分配过权限，如果有，则默认勾选
    if (assignTreeData.assignTreeChecked.length > 0) {
      let newArr: any = [];
      assignTreeData.assignTreeChecked.forEach((item: any) => {
        checked(item, assignTreeData.list, newArr);
      })
      assignTreeData.assignTreeChecked = newArr;
    }
  }
}

//提交数据
const commitParams = reactive({
  roleId: '',
  menuIdList: [] as string[]
})

// 弹框显示
const show = async (roleId: string,name: string) => {
  commitParams.roleId = roleId;
  assignTreeData.assignTreeChecked = [];
  assignTreeData.list = [];
  commitParams.menuIdList = [];
  assignTreeParams.roleId = roleId;
  assignTreeParams.userId = store.getUserId;
  //设置弹框属性
  dialog.title = "为【" + name + "】分配菜单";
  dialog.width = "300";
  dialog.height = "450";
  //获取树的数据
  await getAssignTree();
  onShow();
}
//暴漏出去，给外部组件使用
defineExpose({
  show,
})
// 提交
const commit = async () => {
  // 获取分配过的菜单数据
  console.log(treeRef.value?.getHalfCheckedKeys())
  const checkIds = treeRef.value?.getCheckedKeys();
  const halfCheckeds = treeRef.value?.getHalfCheckedKeys();
  let ids = checkIds?.concat(halfCheckeds);
  // 设置选中的菜单
  commitParams.menuIdList = ids;
  //判断是否已经分配过菜单
  if (ids && ids.length === 0) {
    ElMessage.warning("请选择菜单");
    return;
  }
  let res = await addRoleMenu(commitParams);
  if (res && res.code === 200) {
    ElMessage.success(res.message);
    onClose();
  }
}
</script>

<template>
  <sys-dialog
    :title="dialog.title"
    :width="dialog.width"
    :height="dialog.height"
    :visible="dialog.visible"
    @on-close="onClose"
    @on-confirm="commit">
    <template v-slot:content>
      <el-tree
          ref="treeRef"
          node-key="menuId"
          :data="assignTreeData.list"
          :props="defaultProps"
          show-checkbox
          default-expand-all
          :default-checked-keys="assignTreeData.assignTreeChecked">
      </el-tree>
    </template>
  </sys-dialog>
</template>

<style scoped lang="scss">

</style>