<script setup>
import {ref, watch} from 'vue'
import { useRoute } from 'vue-router'
import {HomeFilled} from "@element-plus/icons-vue";
//定义面包屑导航数据
// 生成数组数据
const tabs = ref([])
//获取当前路由
const route = useRoute();

//监听到路由变化的操作
const getBreadcrumb = ()=>{
  //获取菜单数据，并存在title
  let matched = route.matched.filter((item)=>item.meta && item.meta.title);
  //判断是否是首页，不是的话，构造一个首页
  const first = matched[0]

  if(first && first.path !== '/dashboard'){
    matched = [{path:'/dashboard',title:'首页',meta:{title: "首页", icon: "HomeFilled"}}].concat(matched);
  }
  //设置数据到面包屑导航里面
  tabs.value = matched;
};
getBreadcrumb()
//监听路由变化
watch(
    ()=> route.path,
    ()=> getBreadcrumb()
)
</script>

<template>
  <el-breadcrumb separator="/" class="bread">
    <el-breadcrumb-item v-for="item in tabs" class="breadcrumb-item">
      {{item.meta.title}}
    </el-breadcrumb-item>
  </el-breadcrumb>
</template>

<style lang="scss" scoped>
:deep(.el-breadcrumb__inner){
  color: #FFF !important;
}
:deep(.el-breadcrumb__inner a){
  color: #FFF !important;
}

:deep(.el-breadcrumb__item){
  font-size: 14px;
}

.bread{
  margin-left: 20px;
}
/* 设置图标大小 */
.icon {
  width: 20px; /* 或其他尺寸 */
  height: 20px; /* 或其他尺寸 */
  margin-right: 8px; /* 图标和文本之间的间距 */
}
/* 根据需要添加样式 */
.breadcrumb-item {
  display: flex;
  align-items: center;
}
.breadcrumb-item a {
  display: flex;
  align-items: center;
}
.breadcrumb-item a component {
  margin-right: 0.5rem; /* 调整图标与文本之间的间距 */
}
.icon{

}
</style>