<script setup>
import Collapse from "@/views/layout/header/Collapse.vue";
import BreadCrumb from "@/views/layout/header/BreadCrumb.vue";
import Avatar from "@/views/layout/header/avatar.vue";
import { userStore } from "@/store/user";
import { computed } from "vue";
const store = userStore();
const name = computed(() => {
  console.log(store);
  return store.getNickName;
});
</script>

<template>
  <collapse/>
  <div class="navbar">
    <bread-crumb/>
    <div class="navbar-right">
      <span style="padding-right: 16px;color: #FFFFFF;">欢迎您，{{ name }}</span>
      <Avatar/>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.navbar {
  width: 100%;
  height: 60px;
  overflow: hidden;
  padding: 0 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  .navbar-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    ::v-deep .navbar-item {
      display: inline-block;
      margin-left: 18px;
      font-size: 22px;
      color: #5a5e66;
      box-sizing: border-box;
      cursor: pointer;
    }
  }
}
</style>