<template>
  <el-dropdown trigger="click" @command="handleCommand">
    <div class="theme-switch">
      <el-icon><Brush /></el-icon>
      <span>主题设置</span>
    </div>
    <template #dropdown>
      <el-dropdown-menu>
        <el-dropdown-item
          v-for="theme in themes"
          :key="theme.name"
          :command="theme.name"
          :class="{ active: currentTheme === theme.name }"
        >
          {{ theme.label }}
        </el-dropdown-item>
      </el-dropdown-menu>
    </template>
  </el-dropdown>
</template>

<script setup>
import { computed } from 'vue'
import { Brush } from '@element-plus/icons-vue'
import { useThemeStore } from '@/stores/theme'

const themeStore = useThemeStore()
const currentTheme = computed(() => themeStore.currentTheme)
const themes = computed(() => themeStore.themes)

const handleCommand = (command) => {
  themeStore.setTheme(command)
}
</script>

<style lang="scss" scoped>
.theme-switch {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 0 12px;
  height: 100%;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.025);
  }
}

:deep(.el-dropdown-menu__item) {
  &.active {
    color: var(--el-color-primary);
  }
}
</style> 