@import "bpmn-js-properties-panel/dist/assets/element-templates.css";
@import "bpmn-js-properties-panel/dist/assets/properties-panel.css";

@import "bpmn-js-connectors-extension/dist/connectors-extension.css";
@import "@bpmn-io/element-template-chooser/dist/element-template-chooser.css";

@import "bpmn-js-bpmnlint/dist/assets/css/bpmn-js-bpmnlint.css";

@import "bpmn-js-token-simulation/assets/css/bpmn-js-token-simulation.css";

@import "@/components/BpmnJs/styles/bpmn-override.scss";
@import "@/components/BpmnJs/styles/toolbar.scss";
@import "@/components/BpmnJs/styles/designer.scss";
@import "@/components/BpmnJs/styles/palette.scss";
@import "@/components/BpmnJs/styles/panel.scss";
@import "@/components/BpmnJs/styles/camunda-penal.scss";
@import "@/components/BpmnJs/styles/contextmenu.scss";

body,
html,
#app,
.designer-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  &.designer-with-image > .main-content .designer {
    background-repeat: no-repeat !important;
    background-size: cover;
  }
  .main-content {
    width: 100%;
    flex: 1;
    overflow: hidden;
    display: flex;
    .designer {
      flex: 1;
    }
  }
}

// 流程图高亮样式
// 已完成节点高亮颜色
.executed.djs-connection > .djs-visual > path {
  stroke: #2ecc71 !important;
  fill-opacity: 0.2 !important;
}
.executed.djs-shape .djs-visual > :nth-child(1) {
  fill: #2ecc71 !important;
  stroke: #2ecc71 !important;
  fill-opacity: 0.2 !important;
}

.executed.djs-connection > .djs-visual > path {
  stroke: #2ecc71 !important;
  fill-opacity: 0.2 !important;
}
.executed.djs-shape .djs-visual > :nth-child(1) {
  fill: #2ecc71 !important;
  stroke: #2ecc71 !important;
  fill-opacity: 0.2 !important;
}

// 流程图高亮样式
// 活动待审核节点高亮颜色
.unfinished.djs-connection > .djs-visual > path {
  stroke: #e67e22 !important;
  stroke-dasharray: 4px !important;
  fill-opacity: 0.2 !important;
}
.unfinished.djs-shape .djs-visual > :nth-child(1) {
  fill: #e67e22 !important;
  stroke: #e67e22 !important;
  stroke-dasharray: 4px !important;
  fill-opacity: 0.2 !important;
}

.unfinished.djs-connection > .djs-visual > path {
  stroke: #e67e22 !important;
  stroke-dasharray: 4px !important;
  fill-opacity: 0.2 !important;
}
.unfinished.djs-shape .djs-visual > :nth-child(1) {
  fill: #e67e22 !important;
  stroke: #e67e22 !important;
  stroke-dasharray: 4px !important;
  fill-opacity: 0.2 !important;
}


.bjsl-button{
  display: none;
}
